{% extends request.session.base_template %}

{% load static %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="feature">
                    <a href="#" class="btn btn-primary">
                        <img src="{% static 'images/add.png' %}"/>
                        Thêm</a>
                    <a href="#" class="btn btn-primary">
                        <img src="{% static 'images/undo.png' %}"/>
                        Undo</a>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Mã sinh viên</th>
                                        <th>Họ</th>
                                        <th>Tên</th>
                                        <th>Ngày sinh</th>
                                        <th>Địa chỉ</th>
                                        <th>Lớp</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sv in sinhvien %}
                                    <tr>
                                        <td>{{ sv.masv }}</td>
                                        <td>{{ sv.ho }}</td>
                                        <td>{{ sv.ten }}</td>
                                        <td>{{ sv.ngaysinh }}</td>
                                        <td>{{ sv.diachi }}</td>
                                        <td>{{ sv.lop.tenlop }}</td>
                                        <td>
                                            {% if request.session.base_template == "main_CS.html" %}
                                            <button type="button" class="btn btn-warning btn-edit"
                                                data-toggle="modal" data-target="#editModal"
                                                data-masv="{{ sv.masv }}" data-ho="{{ sv.ho }}"
                                                data-ten="{{ sv.ten }}" data-ngaysinh="{{ sv.ngaysinh }}"
                                                data-diachi="{{ sv.diachi }}" data-lop="{{ sv.lop.tenlop }}">
                                                <img src="{% static 'images/save.png' %}"/> Sửa
                                            </button>
                                            <a href="#" class="btn btn-danger">
                                                <img src="{% static 'images/bin.png' %}"/> Xóa
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Mã sinh viên</th>
                                        <th>Họ</th>
                                        <th>Tên</th>
                                        <th>Ngày sinh</th>
                                        <th>Địa chỉ</th>
                                        <th>Lớp</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin sinh viên</h5>
            </div>
            <div class="modal-body">
                <form id="editForm" method="post" action="/">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="masv">Mã sinh viên:</label>
                        <input type="text" class="form-control" name="masv" id="masv" readonly>
                    </div>
                    <div class="form-group">
                        <label for="ho">Họ:</label>
                        <input type="text" class="form-control" id="ho" name="ho">
                    </div>
                    <div class="form-group">
                        <label for="ten">Tên:</label>
                        <input type="text" class="form-control" id="ten" name="ten">
                    </div>
                    <div class="form-group">
                        <label for="ngaysinh">Ngày sinh:</label>
                        <input type="date" class="form-control" id="ngaysinh" name="ngaysinh">
                    </div>
                    <div class="form-group">
                        <label for="diachi">Địa chỉ:</label>
                        <input type="text" class="form-control" id="diachi" name="diachi">
                    </div>
                    <div class="form-group">
                        <label for="lop">Lớp:</label>
                        <input type="text" class="form-control" id="lop" name="lop">
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var editButtons = document.querySelectorAll('.btn-edit');

        editButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var modal = document.getElementById('editModal');
                var masv = button.getAttribute('data-masv');
                var ho = button.getAttribute('data-ho');
                var ten = button.getAttribute('data-ten');
                var ngaysinh = button.getAttribute('data-ngaysinh');
                var date = new Date(ngaysinh);
                var ngaysinhFormatted = date.toLocaleDateString('en-CA');
                var diachi = button.getAttribute('data-diachi');
                var lop = button.getAttribute('data-lop');

                modal.querySelector('#masv').value = masv;
                modal.querySelector('#ho').value = ho;
                modal.querySelector('#ten').value = ten;
                modal.querySelector('#ngaysinh').value = ngaysinhFormatted;
                modal.querySelector('#diachi').value = diachi;
                modal.querySelector('#lop').value = lop;

                $(modal).modal('show');
            });
        });
    });
</script>


{% endblock content %}