.messages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.messages li {
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}

.messages li.success {
    background-color: green;
}

.messages li.error {
    background-color: red;
}

.hidden {
    display: none;
}
.center-container {
    min-height: 100vh;
}