.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-logo {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #e0e0e0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.link {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: rgba(0,0,0,0.1);
}

.menu-a {
    margin-left: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: fff;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #f5ffda;
}

.nav-links li a.active {
    color: #f5ffda;
    font-weight: 600;
}

.user-menu {
    position: relative;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.user-menu-dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: none;
    z-index: 10;
}

.user-menu-dropdown a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s;
}

.user-menu-dropdown a:hover {
    background-color: rgba(0,0,0,0.1);
}

.show-user-menu {
    display: block !important;
}