USE [master]
GO
/****** Object:  Database [TTN]    Script Date: 15/07/2024 7:24:38 pm ******/
CREATE DATABASE [TTN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TTN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TTN.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TTN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TTN_log.ldf' , SIZE = 466944KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TTN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TTN]
GO
/****** Object:  User [HTKN]    Script Date: 15/07/2024 7:24:38 pm ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_READ_POINT]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[FN_READ_POINT]
(
	@NUMBER FLOAT
)
RETURNS NVARCHAR(500)
AS
BEGIN
		DECLARE @RETURN NVARCHAR(500) = N''
		DECLARE @TEMP1 INT = CAST((@NUMBER/1)AS INT)
		DECLARE @TEMP2 INT = CAST(@NUMBER*10 AS INT) % 10
		
		IF @TEMP1 = 0 BEGIN SELECT @RETURN = @RETURN + N'KHÔNG' END
		IF @TEMP1 = 1 BEGIN SELECT @RETURN = @RETURN + N'MỘT' END
		IF @TEMP1 = 2 BEGIN SELECT @RETURN = @RETURN + N'HAI' END
		IF @TEMP1 = 3 BEGIN SELECT @RETURN = @RETURN + N'BA' END 
		IF @TEMP1 = 4 BEGIN SELECT @RETURN = @RETURN + N'BỐN' END
		IF @TEMP1 = 5 BEGIN SELECT @RETURN = @RETURN + N'NĂM' END 
		IF @TEMP1 = 6 BEGIN SELECT @RETURN = @RETURN + N'SÁU' END
		IF @TEMP1 = 7 BEGIN SELECT @RETURN = @RETURN + N'BẢY' END
		IF @TEMP1 = 8 BEGIN SELECT @RETURN = @RETURN + N'TÁM' END
		IF @TEMP1 = 9 BEGIN SELECT @RETURN = @RETURN + N'CHÍN' END 
		IF @TEMP1 = 10 BEGIN SELECT @RETURN = @RETURN + N'MƯỜI' END 
		
		IF @TEMP2 = 1 BEGIN SELECT @RETURN = @RETURN + N' PHẨY MỘT'	END
		IF @TEMP2 = 2 BEGIN SELECT @RETURN = @RETURN + N' PHẨY HAI'	END
		IF @TEMP2 = 3 BEGIN SELECT @RETURN = @RETURN + N' PHẨY BA'	END	
		IF @TEMP2 = 4 BEGIN SELECT @RETURN = @RETURN + N' PHẨY BỐN'	END
		IF @TEMP2 = 5 BEGIN SELECT @RETURN = @RETURN + N' PHẨY NĂM'	END	
		IF @TEMP2 = 6 BEGIN SELECT @RETURN = @RETURN + N' PHẨY SÁU'	END
		IF @TEMP2 = 7 BEGIN SELECT @RETURN = @RETURN + N' PHẨY BẢY'	END
		IF @TEMP2 = 8 BEGIN SELECT @RETURN = @RETURN + N' PHẨY TÁM'	END
		IF @TEMP2 = 9 BEGIN SELECT @RETURN = @RETURN + N' PHẨY CHÍN' END

		RETURN @RETURN
END
GO
/****** Object:  Table [dbo].[COSO]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COSO](
	[MACS] [nchar](3) NOT NULL,
	[TENCS] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
 CONSTRAINT [PK_COSO] PRIMARY KEY CLUSTERED 
(
	[MACS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_COSOTABLE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_COSOTABLE]
AS
SELECT * FROM COSO
GO
/****** Object:  Table [dbo].[KHOA]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHOA](
	[MAKH] [nchar](8) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[MACS] [nchar](3) NOT NULL,
 CONSTRAINT [PK_KHOA] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_KHOATABLE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_KHOATABLE]
AS
SELECT * FROM KHOA
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](15) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[MAKH] [nchar](8) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_LOPTABLE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_LOPTABLE]
AS
SELECT * FROM LOP
GO
/****** Object:  Table [dbo].[GIAOVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN](
	[MAGV] [char](8) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[MAKH] [nchar](8) NOT NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_GIAOVIENTABLE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_GIAOVIENTABLE]
AS
SELECT * FROM GIAOVIEN
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [char](8) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[MALOP] [nchar](15) NOT NULL,
	[PASSWORD] [varchar](30) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_SINHVIENTABLE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_SINHVIENTABLE]
AS
SELECT * FROM SINHVIEN
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [char](5) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MONHOCTABLE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_MONHOCTABLE]
AS
SELECT * FROM MONHOC
GO
/****** Object:  Table [dbo].[BODE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BODE](
	[CAUHOI] [int] IDENTITY(1,1) NOT NULL,
	[MAMH] [char](5) NOT NULL,
	[TRINHDO] [char](1) NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[A] [ntext] NOT NULL,
	[B] [ntext] NOT NULL,
	[C] [ntext] NOT NULL,
	[D] [ntext] NOT NULL,
	[DAP_AN] [char](1) NOT NULL,
	[MAGV] [char](8) NOT NULL,
 CONSTRAINT [PK_BODE] PRIMARY KEY CLUSTERED 
(
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_BODETABLE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_BODETABLE]
AS
SELECT * FROM BODE
GO
/****** Object:  Table [dbo].[GIAOVIEN_DANGKY]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAOVIEN_DANGKY](
	[MAGV] [char](8) NOT NULL,
	[MAMH] [char](5) NOT NULL,
	[MALOP] [nchar](15) NOT NULL,
	[TRINHDO] [char](1) NOT NULL,
	[NGAYTHI] [datetime] NOT NULL,
	[LAN] [smallint] NOT NULL,
	[SOCAUTHI] [smallint] NOT NULL,
	[THOIGIAN] [smallint] NOT NULL,
 CONSTRAINT [PK_GIAOVIEN_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC,
	[MALOP] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_GVDKTABLE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_GVDKTABLE]
AS
SELECT * FROM GIAOVIEN_DANGKY
GO
/****** Object:  View [dbo].[V_DSSINHVIENDANGKY]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DSSINHVIENDANGKY] AS
SELECT 
    SV.MASV,
    SV.HO + ' ' + SV.TEN AS Ten,
    CS.MACS
FROM 
    Sinhvien SV
JOIN 
    Lop L ON SV.MALOP = L.MALOP
JOIN 
    Khoa K ON L.MAKH = K.MAKH
JOIN 
    Coso CS ON K.MACS = CS.MaCS

WHERE SV.PASSWORD is NULL
GO
/****** Object:  View [dbo].[V_GIAOVIENCOSOTABLE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_GIAOVIENCOSOTABLE]
AS
SELECT GV.MAGV, GV.HO, GV.TEN, GV.DIACHI, GV.MAKH
FROM GIAOVIEN GV
INNER JOIN KHOA K
	ON K.MAKH = GV.MAKH
GO
/****** Object:  View [dbo].[V_DS_COSO]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DS_COSO] AS

SELECT * FROM COSO
GO
/****** Object:  View [dbo].[V_DanhSachGVChuaCoUsername]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DanhSachGVChuaCoUsername]
AS
    SELECT 
        GV.MAGV, 
        GV.HO, 
        GV.TEN
    FROM 
        GIAOVIEN GV
    LEFT JOIN 
        sys.database_principals DP
    ON 
        GV.MAGV = DP.name
    WHERE 
        DP.name IS NULL
GO
/****** Object:  View [dbo].[V_DSPHANMANH]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_DSPHANMANH]
AS
SELECT p.description AS 'TenCoSo', s.subscriber AS 'Server'
FROM distribution.dbo.MSpublications AS p, distribution.dbo.MSmerge_subscriptions AS s
WHERE p.publication_id = s.publication_id
GO
/****** Object:  Table [dbo].[BAITHI]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAITHI](
	[MABT] [int] IDENTITY(1,1) NOT NULL,
	[MASV] [char](8) NOT NULL,
	[MAMH] [char](5) NOT NULL,
	[LAN] [smallint] NOT NULL,
	[NGAYTHI] [date] NOT NULL,
	[DIEM] [float] NOT NULL,
	[TGCL] [int] NOT NULL,
 CONSTRAINT [PK_BAITHI] PRIMARY KEY CLUSTERED 
(
	[MABT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_BAITHI]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_BAITHI](
	[MABT] [int] NOT NULL,
	[CAUHOI] [int] NOT NULL,
	[TRALOI] [char](1) NULL,
	[STT_DETHI] [smallint] NOT NULL,
 CONSTRAINT [PK_CT_BAITHI] PRIMARY KEY CLUSTERED 
(
	[MABT] ASC,
	[CAUHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BAITHI] ON 

INSERT [dbo].[BAITHI] ([MABT], [MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [TGCL]) VALUES (2120, N'001     ', N'AVCB ', 1, CAST(N'2024-07-12' AS Date), 5, 0)
INSERT [dbo].[BAITHI] ([MABT], [MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [TGCL]) VALUES (2123, N'999     ', N'LTW  ', 1, CAST(N'2024-07-13' AS Date), 0, 0)
INSERT [dbo].[BAITHI] ([MABT], [MASV], [MAMH], [LAN], [NGAYTHI], [DIEM], [TGCL]) VALUES (2124, N'999     ', N'MMTCB', 1, CAST(N'2024-07-13' AS Date), 0, 0)
SET IDENTITY_INSERT [dbo].[BAITHI] OFF
GO
SET IDENTITY_INSERT [dbo].[BODE] ON 

INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV]) VALUES (5, N'MMTCB', N'A', N'mạng man được sử dụng trong phạm vi:', N'quốc gia', N'lục địa', N'khu phố', N'thành phố', N'D', N'TH123   ')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV]) VALUES (6, N'MMTCB', N'A', N'thuật ngữ man được viết tắt bởi:', N'middle area network', N'metropolitan area network', N'medium area network', N'multiple access network', N'D', N'TH123   ')
INSERT [dbo].[BODE] ([CAUHOI], [MAMH], [TRINHDO], [NOIDUNG], [A], [B], [C], [D], [DAP_AN], [MAGV]) VALUES (7, N'MMTCB', N'A', N'mạng man không kết nối theo sơ đồ:', N'bus', N'ring', N'star', N'tree', N'D', N'TH123   ')
GO
SET IDENTITY_INSERT [dbo].[BODE] OFF
GO
INSERT [dbo].[COSO] ([MACS], [TENCS], [DIACHI]) VALUES (N'CS1', N'Cơ sở 1 ', N'11 Nguyễn Đình Chiểu, Phường Đakao, Quận 1, TP. HCM')
INSERT [dbo].[COSO] ([MACS], [TENCS], [DIACHI]) VALUES (N'CS2', N'Cơ sở 2', N'Số 9 Man Thiện , quận 9, TP. HCM')
GO
INSERT [dbo].[CT_BAITHI] ([MABT], [CAUHOI], [TRALOI], [STT_DETHI]) VALUES (2120, 22, N'C', 7)
INSERT [dbo].[CT_BAITHI] ([MABT], [CAUHOI], [TRALOI], [STT_DETHI]) VALUES (2120, 23, N'B', 1)
INSERT [dbo].[CT_BAITHI] ([MABT], [CAUHOI], [TRALOI], [STT_DETHI]) VALUES (2120, 25, N'B', 2)
GO
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH]) VALUES (N'GV1     ', N'NGUYEN TRUNG', N'HIEU', N'Hcm', N'CNTT    ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH]) VALUES (N'TH101   ', N'KIEU DAC', N'THIEN', N'9,3A, Q.BINH TAN', N'CNTT    ')
INSERT [dbo].[GIAOVIEN] ([MAGV], [HO], [TEN], [DIACHI], [MAKH]) VALUES (N'TH111   ', N'TRẦN ANH', N'LONG', N'Tăng Nhơn Phú A', N'NG      ')
GO
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN]) VALUES (N'TH234   ', N'AVCB ', N'D18CQCN01      ', N'A', CAST(N'2024-07-02T12:20:00.000' AS DateTime), 1, 10, 2)
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN]) VALUES (N'TH101   ', N'AVCB ', N'D18CQCN01      ', N'A', CAST(N'2024-07-08T13:43:00.000' AS DateTime), 2, 10, 5)
INSERT [dbo].[GIAOVIEN_DANGKY] ([MAGV], [MAMH], [MALOP], [TRINHDO], [NGAYTHI], [LAN], [SOCAUTHI], [THOIGIAN]) VALUES (N'TH111   ', N'AVCB ', N'D21CQCN02N     ', N'A', CAST(N'2024-07-12T21:48:00.000' AS DateTime), 1, 20, 5)
GO
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS]) VALUES (N'CNTC    ', N'Công Nghệ Tài Chính', N'CS2')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS]) VALUES (N'CNTT    ', N'Công Nghệ Thông Tin', N'CS1')
INSERT [dbo].[KHOA] ([MAKH], [TENKH], [MACS]) VALUES (N'DT      ', N'Điện Tử', N'CS2')
GO
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'D18CQCN01      ', N'Cntt Khóa 2018 - 1', N'CNTT    ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'D19CQKTDN      ', N'Kế Toán Doanh Nghiệp 1', N'KT      ')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKH]) VALUES (N'D21CN          ', N'Công Nghệ 2', N'CNTT    ')
GO
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'AVCB ', N'ANH VĂN CĂN BẢN')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CTDL ', N'CẤU TRÚC DỮ LIỆU VÀ GIẢI THUẬT')
INSERT [dbo].[MONHOC] ([MAMH], [TENMH]) VALUES (N'CTPT ', N'CẤU TRÚC PHÂN TÁN')
GO
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [PASSWORD]) VALUES (N'001     ', N'LÊ VĂN ', N'THÀNH', CAST(N'1985-03-06' AS Date), N'23/5 PHUNG KHAC KHOAN F3 Q3', N'TH04           ', N'123456')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [PASSWORD]) VALUES (N'002     ', N'DAO TRONG', N'KHAI', CAST(N'1979-08-19' AS Date), N'15/72 LE VAN THO F8 GOVAP', N'TH04           ', N'112233')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [NGAYSINH], [DIACHI], [MALOP], [PASSWORD]) VALUES (N'003     ', N'CAO TUAN', N'KHA', CAST(N'1985-12-06' AS Date), N'12/5 LE QUANG DINH F5 GO VAP', N'TH04           ', N'321321')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_BAITHI]    Script Date: 15/07/2024 7:24:38 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BAITHI] ON [dbo].[BAITHI]
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_BAITHI]    Script Date: 15/07/2024 7:24:38 pm ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_BAITHI] ON [dbo].[BAITHI]
(
	[MASV] ASC,
	[MAMH] ASC,
	[LAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_COSO]    Script Date: 15/07/2024 7:24:38 pm ******/
ALTER TABLE [dbo].[COSO] ADD  CONSTRAINT [UK_COSO] UNIQUE NONCLUSTERED 
(
	[TENCS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CT_BAITHI]    Script Date: 15/07/2024 7:24:38 pm ******/
CREATE NONCLUSTERED INDEX [IX_CT_BAITHI] ON [dbo].[CT_BAITHI]
(
	[MABT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENLOP]    Script Date: 15/07/2024 7:24:38 pm ******/
ALTER TABLE [dbo].[LOP] ADD  CONSTRAINT [UK_TENLOP] UNIQUE NONCLUSTERED 
(
	[TENLOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENMH]    Script Date: 15/07/2024 7:24:38 pm ******/
ALTER TABLE [dbo].[MONHOC] ADD  CONSTRAINT [UK_TENMH] UNIQUE NONCLUSTERED 
(
	[TENMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MALOP]    Script Date: 15/07/2024 7:24:38 pm ******/
CREATE NONCLUSTERED INDEX [IX_MALOP] ON [dbo].[SINHVIEN]
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BAITHI] ADD  CONSTRAINT [DF_BAITHI_NGAYTHI]  DEFAULT (getdate()) FOR [NGAYTHI]
GO
ALTER TABLE [dbo].[BAITHI] ADD  CONSTRAINT [DF_BAITHI_DIEM]  DEFAULT ((0)) FOR [DIEM]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] ADD  CONSTRAINT [DF_GIAOVIEN_DANGKY_NGAYTHI]  DEFAULT (getdate()) FOR [NGAYTHI]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_BAITHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [FK_BAITHI_MONHOC]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_BAITHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [FK_BAITHI_SINHVIEN]
GO
ALTER TABLE [dbo].[BODE]  WITH CHECK ADD  CONSTRAINT [FK_BODE_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [FK_BODE_MONHOC]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAITHI_BAITHI] FOREIGN KEY([MABT])
REFERENCES [dbo].[BAITHI] ([MABT])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [FK_CT_BAITHI_BAITHI]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_BAITHI_BODE] FOREIGN KEY([CAUHOI])
REFERENCES [dbo].[BODE] ([CAUHOI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [FK_CT_BAITHI_BODE]
GO
ALTER TABLE [dbo].[GIAOVIEN]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN] CHECK CONSTRAINT [FK_GIAOVIEN_KHOA]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIAOVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_GIAOVIEN1]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_LOP]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [FK_GIAOVIEN_DANGKY_MONHOC1]
GO
ALTER TABLE [dbo].[KHOA]  WITH CHECK ADD  CONSTRAINT [FK_KHOA_COSO] FOREIGN KEY([MACS])
REFERENCES [dbo].[COSO] ([MACS])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHOA] CHECK CONSTRAINT [FK_KHOA_COSO]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOA] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHOA] ([MAKH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOA]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[BAITHI]  WITH CHECK ADD  CONSTRAINT [CK_BAITHI] CHECK  (([DIEM]>=(0) AND [DIEM]<=(10)))
GO
ALTER TABLE [dbo].[BAITHI] CHECK CONSTRAINT [CK_BAITHI]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_BODE] CHECK  (([TRINHDO]='A' OR [TRINHDO]='B' OR [TRINHDO]='C'))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_BODE]
GO
ALTER TABLE [dbo].[BODE]  WITH NOCHECK ADD  CONSTRAINT [CK_DAPAN] CHECK  (([DAP_AN]='D' OR ([DAP_AN]='C' OR ([DAP_AN]='B' OR [DAP_AN]='A'))))
GO
ALTER TABLE [dbo].[BODE] CHECK CONSTRAINT [CK_DAPAN]
GO
ALTER TABLE [dbo].[CT_BAITHI]  WITH CHECK ADD  CONSTRAINT [CK_CT_BAITHI] CHECK  (([TRALOI]='D' OR [TRALOI]='C' OR [TRALOI]='B' OR [TRALOI]='A'))
GO
ALTER TABLE [dbo].[CT_BAITHI] CHECK CONSTRAINT [CK_CT_BAITHI]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_LAN] CHECK  (([LAN]>=(1) AND [LAN]<=(2)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_LAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_SOCAUTHI] CHECK  (([SOCAUTHI]>=(1) AND [SOCAUTHI]<=(500)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_SOCAUTHI]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_THOIGIAN] CHECK  (([THOIGIAN]>=(1) AND [THOIGIAN]<=(60)))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_THOIGIAN]
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY]  WITH CHECK ADD  CONSTRAINT [CK_TRINHDO] CHECK  (([TRINHDO]='C' OR ([TRINHDO]='B' OR [TRINHDO]='A')))
GO
ALTER TABLE [dbo].[GIAOVIEN_DANGKY] CHECK CONSTRAINT [CK_TRINHDO]
GO
/****** Object:  StoredProcedure [dbo].[SP_CapQuyenJob]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_CapQuyenJob]
@LGNAME VARCHAR(50),
@USERNAME VARCHAR(50)
AS
BEGIN
	BEGIN TRY
        -- ALTER the login
        DECLARE @SQL NVARCHAR(MAX)

		SET @SQL = N'CREATE USER [' + @USERNAME + '] FOR LOGIN [' + @LGNAME + ']'
        EXEC msdb.sys.sp_executesql @SQL

        -- Add the user to the database role
        SET @SQL = N'ALTER ROLE [Truong] ADD MEMBER [' + @USERNAME + ']'
        EXEC msdb.sys.sp_executesql @SQL

    END TRY
    BEGIN CATCH

        -- Raise an error with details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_BODE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_BODE]
@CAUHOI INT
AS
BEGIN
	SET NOCOUNT ON
	DECLARE @isExisted int;
	EXEC @isExisted = [dbo].[SP_EXISTED_BODE] @CAUHOI
	IF @isExisted = 0
		BEGIN
			RAISERROR('Câu hỏi không tồn tại.', 16, 1);
			RETURN 
		END

	IF EXISTS (SELECT 1 FROM LINK0.TTN.DBO.CT_BAITHI WHERE CAUHOI = @CAUHOI)
		BEGIN
			RAISERROR('Câu hỏi đã được dùng để thi.', 16, 1);
			RETURN 
		END

	DECLARE @MAMH CHAR(5)
	DECLARE @TRINHDO CHAR(1)
	SELECT
		@MAMH = MAMH,
		@TRINHDO = TRINHDO
	FROM BODE
	WHERE CAUHOI = @CAUHOI
	
	DECLARE @ErrorMessage NVARCHAR(500)
	SELECT MAMH, MALOP, LAN INTO #TEMP FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND SOCAUTHI >= (SELECT COUNT(*) FROM BODE WHERE MAMH = @MAMH AND TRINHDO IN (CHAR(ASCII(@TRINHDO)+1), @TRINHDO))
	IF EXISTS (SELECT 1 FROM #TEMP)
	BEGIN
		SELECT @ErrorMessage = N'Không thể xóa câu hỏi. '
		SELECT @ErrorMessage = @ErrorMessage + '(' + TRIM(MAMH) + ',' +TRIM(MALOP) + ',' + CAST(LAN AS nvarchar) + ') ' FROM #TEMP
		SELECT @ErrorMessage = @ErrorMessage + N'không đủ câu hỏi để thi'
		RAISERROR(@ErrorMessage, 16, 1)
		RETURN
	END
	
	SELECT MAMH, MALOP, LAN INTO #TEMP2 FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND CEILING(SOCAUTHI*0.7) >= (SELECT COUNT(*) FROM BODE WHERE MAMH = @MAMH AND TRINHDO = @TRINHDO)
	IF EXISTS (SELECT 1 FROM #TEMP2)
	BEGIN
		SELECT @ErrorMessage = N'Không thể xóa câu hỏi. '
		SELECT @ErrorMessage = @ErrorMessage + '(' + TRIM(MAMH) + ',' +TRIM(MALOP) + ',' + CAST(LAN AS nvarchar) + ') ' FROM #TEMP2
		SELECT @ErrorMessage = @ErrorMessage + N'không đủ câu hỏi cùng trình độ để thi'
		RAISERROR(@ErrorMessage, 16, 1)
		RETURN
	END

	DELETE FROM BODE WHERE CAUHOI = @CAUHOI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_DANGKYTHI]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_DELETE_DANGKYTHI]
@MALOP CHAR(15),
@MAMH CHAR(5),
@LAN SMALLINT
AS
BEGIN
	IF EXISTS (
		SELECT 1 FROM BAITHI BT
			INNER JOIN (
				SELECT MASV, MALOP FROM SINHVIEN WHERE MALOP = @MALOP
			) SV ON BT.MASV = SV.MASV
			INNER JOIN (
				SELECT MALOP FROM LOP WHERE MALOP = @MALOP
			) LOP ON LOP.MALOP = SV.MALOP
			INNER JOIN (
				SELECT MALOP, MAMH, LAN FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND LAN = @LAN AND MALOP = @MALOP
			) DK ON DK.MALOP = SV.MALOP AND BT.MAMH = DK.MAMH AND BT.LAN = DK.LAN)
	BEGIN
		RAISERROR('Không thể xóa đăng ký vì đã có sinh viên làm bài thi.', 16, 1)
		RETURN
	END

	DELETE FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND MALOP = @MALOP AND LAN = @LAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_GIAOVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_GIAOVIEN]
@MAGV CHAR(8)
AS
BEGIN
	DECLARE @isExisted int;
	EXEC @isExisted = SP_EXISTED_GIAOVIEN @MAGV
	IF @isExisted = 0
		BEGIN
			RAISERROR('Không tìm thấy mã giảng viên.', 16, 1)
			RETURN
		END
	IF EXISTS (SELECT 1 FROM LINK0.TTN.DBO.BODE WHERE MAGV = @MAGV)
	BEGIN
		RAISERROR('Giảng viên này đã tạo câu hỏi trong bộ đề.', 16, 1)
		RETURN
	END
	IF EXISTS (SELECT 1 FROM LINK0.TTN.DBO.GIAOVIEN_DANGKY WHERE MAGV = @MAGV)
	BEGIN
		RAISERROR('Giảng viên này đã đăng ký thi.', 16, 1)
		RETURN
	END
	DELETE FROM GIAOVIEN WHERE MAGV = @MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_KHOA]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_KHOA]
@MAKH CHAR(8)
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM KHOA WHERE MAKH = @MAKH)
		BEGIN
			RAISERROR(N'Mã khoa này không tồn tại ở cơ sở này.', 16, 1);
			RETURN
		END

	IF EXISTS (SELECT 1 FROM GIAOVIEN WHERE MAKH = @MAKH)
		BEGIN
			RAISERROR(N'Khoa này đã có giảng viên.', 16, 1);
			RETURN
		END
	IF EXISTS (SELECT 1 FROM LOP WHERE MAKH = @MAKH)
		BEGIN
			RAISERROR(N'Khoa này đã có lớp.', 16, 1);
			RETURN
		END
	DELETE FROM KHOA WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_LOP]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_LOP]
@MALOP CHAR(15)
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM LOP WHERE MALOP = @MALOP)
	BEGIN
		RAISERROR('Mã lớp không tồn tại ở cơ sở này.', 16, 1);
		RETURN 
	END
	IF EXISTS(SELECT 1 FROM SINHVIEN WHERE MALOP = @MALOP)
	BEGIN
		RAISERROR('Lớp này đã có sinh viên.', 16, 1);
		RETURN 
	END
	IF EXISTS(SELECT 1 FROM GIAOVIEN_DANGKY WHERE MALOP = @MALOP)
	BEGIN
		RAISERROR('Lớp này đã được đăng ký lịch thi.', 16, 1);
		RETURN 
	END
	DELETE FROM LOP WHERE MALOP = @MALOP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_MONHOC]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_MONHOC]
@MAMH CHAR(5)
AS
BEGIN
	DECLARE @isExisted int;
	EXEC @isExisted = [dbo].[SP_EXISTED_MONHOC] @MAMH
	IF @isExisted = 0
	  BEGIN
		  RAISERROR(N'Không tìm thấy môn học.',16,1);
		  RETURN
	  END
	  IF EXISTS (SELECT * FROM BODE WHERE MAMH = @MAMH)
	  BEGIN
		  RAISERROR(N'Không thể xóa vì môn học này đã được soạn câu hỏi.',16,1);
		  RETURN
	  END
	  IF EXISTS (SELECT * FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH)
	  BEGIN
		  RAISERROR(N'Không thể xóa vì môn học này đã được đăng ký thi.',16,1);
		  RETURN
	  END
	  IF EXISTS (SELECT * FROM BAITHI WHERE MAMH = @MAMH)
	  BEGIN
		  RAISERROR(N'Không thể xóa vì môn học này đã có bài thi.',16,1);
		  RETURN
	  END
	DELETE FROM MONHOC WHERE @MAMH = MONHOC.MAMH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_SINHVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DELETE_SINHVIEN]
@MASV CHAR(8)
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM SINHVIEN WHERE MASV = @MASV)
		BEGIN 
			RAISERROR(N'Không tìm thấy mã sinh viên.', 16, 1);
			RETURN
		END
	IF EXISTS(SELECT 1 FROM BAITHI WHERE MASV = @MASV)
		BEGIN 
			RAISERROR(N'Sinh viên đã làm bài thi.', 16, 1);
			RETURN
		END
	DELETE FROM SINHVIEN WHERE @MASV = SINHVIEN.MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DSDangKyThi]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSDangKyThi]
@FROMDATE DATETIME,
@TODATE DATETIME
AS
BEGIN
SELECT 
		GVDK.MALOP, 
		TENLOP, 
		GVDK.MAMH, 
		TENMH, 
		GV.TEN, 
		SOCAUTHI, 
		NGAYTHI, 
		GVDK.LAN,
		ISNULL(BT.DATHI, '') AS DATHI,
		(SELECT TENCS FROM COSO) AS GHICHU
	FROM (SELECT MAGV, TRIM(GIAOVIEN.HO) + ' ' + TRIM(GIAOVIEN.TEN) AS TEN FROM GIAOVIEN) AS GV
	INNER JOIN (
		SELECT MAGV, MAMH, MALOP, NGAYTHI, SOCAUTHI, LAN 
		FROM GIAOVIEN_DANGKY 
		WHERE NGAYTHI BETWEEN @FROMDATE AND @TODATE
	) AS GVDK ON GVDK.MAGV = GV.MAGV
	INNER JOIN MONHOC ON MONHOC.MAMH = GVDK.MAMH
	INNER JOIN LOP ON LOP.MALOP = GVDK.MALOP
	LEFT JOIN (
		SELECT MAMH, SV.MALOP, LAN, 'X' AS DATHI
		FROM BAITHI 
		INNER JOIN (
			SELECT MASV, MALOP
			FROM SINHVIEN
		) AS SV ON SV.MASV = BAITHI.MASV
		INNER JOIN (
			SELECT MALOP
			FROM LOP
		) LOP ON SV.MALOP = LOP.MALOP
		WHERE NGAYTHI <= GETDATE() 
		GROUP BY SV.MALOP, BAITHI.MAMH, BAITHI.LAN
	) AS BT ON BT.MAMH = GVDK.MAMH AND BT.LAN = GVDK.LAN AND BT.MALOP = GVDK.MALOP
	ORDER BY NGAYTHI ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EXISTED_BODE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EXISTED_BODE]
@CAUHOI INT
AS
BEGIN
	IF EXISTS(SELECT 1 FROM BODE WHERE CAUHOI = @CAUHOI)
		BEGIN
			RETURN 1
		END
	ELSE
		BEGIN
			RETURN 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EXISTED_GIAOVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EXISTED_GIAOVIEN]
@MAGV CHAR(8)
AS
BEGIN
	IF EXISTS(SELECT 1 FROM GIAOVIEN WHERE MAGV = @MAGV)
		BEGIN
			RETURN 1
		END
	ELSE 
		BEGIN
			RETURN 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EXISTED_KHOA]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_EXISTED_KHOA]
@MAKH CHAR(8)
AS 
BEGIN
	IF EXISTS( SELECT 1 FROM [dbo].[KHOA] AS KH WHERE @MAKH = KH.MAKH)
	BEGIN 
		RETURN 1
	END

	ELSE IF EXISTS(SELECT 1 FROM LINK0.TTN.DBO.KHOA KHOA WHERE KHOA.MAKH = @MAKH)
    BEGIN
            RETURN 1;
    END

	ELSE BEGIN
		RETURN 0
	END 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EXISTED_LOP]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EXISTED_LOP]
@MALOP CHAR(15)
AS
BEGIN
    IF EXISTS(SELECT 1 FROM LOP WHERE MALOP = @MALOP)
        BEGIN
            RETURN 1;
        END
    ELSE IF EXISTS(SELECT 1 FROM LINK0.TTN.DBO.LOP WHERE MALOP = @MALOP)
        BEGIN
            RETURN 1;
        END
	ELSE
		BEGIN
			RETURN 0;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EXISTED_MONHOC]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EXISTED_MONHOC]
@MAMH CHAR(5)
AS
BEGIN
    IF EXISTS( SELECT 1 FROM dbo.MONHOC AS MH WHERE @MAMH=MH.MAMH)
        BEGIN
            RETURN 1;
        END
    ELSE
        BEGIN
            RETURN 0;
        END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_EXISTED_SINHVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EXISTED_SINHVIEN]
@MASV CHAR(8)
AS
BEGIN
   
    IF EXISTS( SELECT 1 FROM dbo.SINHVIEN AS SV WHERE @MASV = SV.MASV)
        BEGIN
            RETURN 1;
        END
    ELSE IF EXISTS(SELECT 1 FROM LINK0.TTN.DBO.SINHVIEN SINHVIEN WHERE SINHVIEN.MASV = @MASV)
    BEGIN
            RETURN 1;
    END

    ELSE
        BEGIN
            RETURN 0;
        END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_BODE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_BODE]
@MAMH CHAR(5),
@TRINHDO CHAR(1),
@NOIDUNG NVARCHAR(MAX),
@A NVARCHAR(MAX),
@B NVARCHAR(MAX),
@C NVARCHAR(MAX),
@D NVARCHAR(MAX),
@DAP_AN CHAR(1),
@MAGV CHAR(8)
AS
BEGIN
	SET NOCOUNT ON;
	IF NOT EXISTS (SELECT 1 FROM MONHOC WHERE MAMH = @MAMH)
		BEGIN
			RAISERROR('Môn học không tồn tại.', 16, 1);
			RETURN 
		END
	IF NOT EXISTS (SELECT 1 FROM GIAOVIEN WHERE MAGV = @MAGV)
		BEGIN
			RAISERROR('Giáo viên không tồn tại.', 16, 1);
			RETURN 
		END
	IF (@A = @B OR @A = @C OR @A = @D OR @B = @C OR @B = @D OR @C = @D)
        BEGIN
            RAISERROR('Các lựa chọn A, B, C, D không được trùng nhau.', 16, 1);
            RETURN
        END
	INSERT INTO BODE(MAMH, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAGV)
	VALUES(@MAMH, @TRINHDO, @NOIDUNG, @A, @B, @C, @D, @DAP_AN, @MAGV)

	SELECT CAUHOI 
    FROM BODE 
    WHERE MAMH = @MAMH 
    AND CAST(NOIDUNG AS NVARCHAR(MAX)) = @NOIDUNG 
    AND CAST(A AS NVARCHAR(MAX)) = @A 
    AND CAST(B AS NVARCHAR(MAX)) = @B 
    AND CAST(C AS NVARCHAR(MAX)) = @C 
    AND CAST(D AS NVARCHAR(MAX)) = @D
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DANGKYTHI]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_INSERT_DANGKYTHI]
@MAGV CHAR(8),
@MAMH CHAR(5),
@MALOP NCHAR(15),
@TRINHDO CHAR(1),
@NGAYTHI DATETIME,
@SOCAUTHI SMALLINT,
@THOIGIAN SMALLINT
AS
BEGIN
	DECLARE @LAN SMALLINT
	DECLARE @CUR_LAN SMALLINT = -1

	IF NOT EXISTS (SELECT 1 FROM GIAOVIEN WHERE MAGV = @MAGV)
	BEGIN
		RAISERROR('Giáo viên không tồn tại.', 16, 1)
		RETURN
	END
	IF NOT EXISTS (SELECT 1 FROM MONHOC WHERE MAMH = @MAMH)
	BEGIN
		RAISERROR('Môn học không tồn tại.', 16, 1)
		RETURN
	END

	IF EXISTS(SELECT 1 FROM LINK3.[TTN].SYS.TABLES WHERE NAME = 'LOP') 
		AND NOT EXISTS(SELECT 1 FROM LINK3.TTN.DBO.LOP WHERE MALOP = @MALOP)
		BEGIN
			RAISERROR('Lớp không tồn tại.', 16, 1)
			RETURN
		END
	IF NOT EXISTS (SELECT 1 FROM LINK0.TTN.DBO.LOP WHERE MALOP = @MALOP)
	BEGIN
		RAISERROR('Lớp không tồn tại.', 16, 1)
		RETURN
	END

	SELECT @CUR_LAN = LAN
	FROM GIAOVIEN_DANGKY
	WHERE MALOP = @MALOP AND MAMH = @MAMH

	IF @CUR_LAN = -1
		SET @LAN = 1
	ELSE IF @CUR_LAN = 1
		SET @LAN = 2
	ELSE
		RAISERROR('Môn học đã được đăng ký 2 lần cho lớp này.', 16, 1)


	  DECLARE @countQuestionCungTrinhDo int = (
		SELECT COUNT(*)
		FROM BODE
		WHERE MAMH = @MAMH
		AND TRINHDO = @TRINHDO
	);
	DECLARE @countQuestionTrinhDoDuoi int = (
		SELECT COUNT(*)
		FROM BODE
		WHERE MAMH = @MAMH
		AND TRINHDO = CHAR(ASCII(@TRINHDO)+1)
	);

	DECLARE @ErrorMessage NVARCHAR(500)
	IF @countQuestionCungTrinhDo + @countQuestionTrinhDoDuoi < @SOCAUTHI
		BEGIN
			SET @ErrorMessage = N'Không đủ câu hỏi để thi. Thiếu ' + CAST(@SOCAUTHI - (@countQuestionCungTrinhDo + @countQuestionTrinhDoDuoi) AS NVARCHAR(10)) + N' câu.';
			RAISERROR(@ErrorMessage, 16, 1);
			RETURN
		END
	IF @countQuestionCungTrinhDo < CEILING(@SOCAUTHI * 0.7)
		BEGIN
			SET @ErrorMessage = N'Không đủ câu hỏi để thi. Thiếu ' + CAST(CEILING(@SOCAUTHI * 0.7) - @countQuestionCungTrinhDo AS NVARCHAR(10)) + N' câu hỏi cùng trình độ.';
			RAISERROR(@ErrorMessage, 16, 1);
			RETURN
		END

	INSERT INTO GIAOVIEN_DANGKY (MAGV, MAMH, MALOP, TRINHDO, NGAYTHI, LAN, SOCAUTHI, THOIGIAN)
	VALUES (@MAGV, @MAMH, @MALOP, @TRINHDO, @NGAYTHI, @LAN, @SOCAUTHI, @THOIGIAN)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_GIAOVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_GIAOVIEN]
@MAGV CHAR(8),
@HO NVARCHAR(50),
@TEN NVARCHAR(10),
@DIACHI NVARCHAR(50),
@MAKH CHAR(8)
AS
BEGIN
	DECLARE @isExisted int;
	EXEC @isExisted = SP_EXISTED_GIAOVIEN @MAGV
	IF @isExisted = 1
		BEGIN
			RAISERROR('Mã giáo viên đã tồn tại.', 16, 1)
			RETURN
		END
	IF NOT EXISTS(SELECT 1 FROM KHOA WHERE MAKH = @MAKH)
	BEGIN
		RAISERROR('Không tồn tại khoa này.', 16, 1);
		RETURN 
	END
	INSERT INTO GIAOVIEN(MAGV, HO, TEN, DIACHI, MAKH)
	VALUES(@MAGV, @HO, @TEN, @DIACHI, @MAKH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_KHOA]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_KHOA]
@MAKH CHAR(8),
@TENKH NVARCHAR(50),
@MACS CHAR(3)
AS
BEGIN
    DECLARE @isExisted int;
    EXEC @isExisted = [dbo].[SP_EXISTED_KHOA] @MAKH
    IF @isExisted = 1
      BEGIN
        RAISERROR(N'Mã khoa này đã tồn tại.',16,1);
        RETURN
      END
	IF EXISTS (SELECT * FROM LINK0.TTN.DBO.KHOA WHERE TENKH = @TENKH)
	BEGIN
        RAISERROR(N'Tên khoa đã tồn tại.',16,1);
        RETURN
      END
    INSERT INTO KHOA(MAKH, TENKH, MACS)
    VALUES (@MAKH, @TENKH, @MACS)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_LOP]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_LOP]
@MALOP CHAR(15),
@TENLOP NVARCHAR(50),
@MAKH CHAR(8)
AS
BEGIN
	DECLARE @isExisted int;
	EXEC @isExisted = [dbo].[SP_EXISTED_LOP] @MALOP
	IF @isExisted = 1
		BEGIN
			RAISERROR('Mã lớp này đã tồn tại', 16, 1);
			RETURN 
		END
	IF EXISTS (SELECT * FROM LINK0.TTN.DBO.LOP WHERE TENLOP = @TENLOP)
	BEGIN
        RAISERROR(N'Tên lớp đã tồn tại.',16,1);
        RETURN
      END
	IF NOT EXISTS(SELECT 1 FROM KHOA WHERE MAKH = @MAKH)
	BEGIN
		RAISERROR('Không tồn tại khoa này.', 16, 1);
		RETURN 
	END
	INSERT INTO LOP(MALOP, TENLOP, MAKH)
	VALUES(@MALOP, @TENLOP, @MAKH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_MONHOC]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERT_MONHOC]
@MAMH CHAR(5),
@TENMH NVARCHAR(50)
AS
BEGIN
    DECLARE @isExisted int;
    EXEC @isExisted = [dbo].[SP_EXISTED_MONHOC] @MAMH
    IF @isExisted = 1
      BEGIN
        RAISERROR(N'Mã môn học này đã tồn tại.',16,1);
        RETURN
      END
	IF EXISTS (SELECT 1 FROM MONHOC WHERE TENMH = @TENMH)
	BEGIN
        RAISERROR(N'Tên môn học đã tồn tại.',16,1);
        RETURN
      END
    INSERT INTO MONHOC(MAMH, TENMH)
    VALUES(@MAMH, @TENMH)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_SINHVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INSERT_SINHVIEN]
@MASV CHAR(8),
@HO NVARCHAR(50),
@TEN NVARCHAR(10),
@NGAYSINH DATE,
@DIACHI NVARCHAR(100),
@MALOP CHAR(15)
AS
BEGIN
	DECLARE @isExisted int;
	EXEC @isExisted = [dbo].[SP_EXISTED_SINHVIEN] @MASV 
	IF @isExisted = 1 
		BEGIN
			RAISERROR(N'Mã sinh viên này đã tồn tại.', 16, 1);
			RETURN
		END
	IF NOT EXISTS (SELECT 1 FROM LOP WHERE MALOP = @MALOP) 
		BEGIN
			RAISERROR(N'Lớp không tồn tại.', 16, 1);
			RETURN
		END
	INSERT INTO SINHVIEN(MASV, HO, TEN, NGAYSINH, DIACHI, MALOP)
	VALUES (@MASV, @HO, @TEN, @NGAYSINH, @DIACHI, @MALOP)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_CAU_HOI]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LAY_CAU_HOI]
@MAMONHOC  NCHAR(5),
@TRINHDO  NCHAR(1),
@SOCAU INT
AS
BEGIN TRANSACTION
BEGIN
	/*
	Có thể dùng đoạn lên sau để thay thế cho 2 đoạn lệnh Declare bên dưới
	Đoạn lệnh này chỉ được viết và chưa được test
	DECLARE @countQuestionRequired int (
		SELECT COUNT(*)
		FROM BODE
		WHERE MAMH = @MAMONHOC
		AND (TRINHDO = @TRINHDO OR TRINHDO = CHAR(ASCII(@TRINHDO)+1))
	)
*/
  DECLARE @countQuestionCungTrinhDo int = (
		SELECT COUNT(*)
		FROM BODE
		WHERE MAMH = @MAMONHOC
		AND TRINHDO = @TRINHDO
	);
	DECLARE @countQuestionTrinhDoDuoi int = (
		SELECT COUNT(*)
		FROM BODE
		WHERE MAMH = @MAMONHOC
		AND TRINHDO = CHAR(ASCII(@TRINHDO)+1)
	);
	-- Kiểm tra số lượng câu hỏi trong hệ thống có đủ để tạo ra một bài thi không --
	IF ((@countQuestionCungTrinhDo + @countQuestionTrinhDoDuoi < @SOCAU) OR
		(@countQuestionCungTrinhDo < (@SOCAU * 70 / 100)))
		BEGIN
			RAISERROR(N'Không đủ câu hỏi để thi', 16, 1);
			ROLLBACK
			RETURN
		END
	
  CREATE TABLE #CAUHOITHI (
    CAUHOI int primary key,
    TRINHDO char(1),
    NOIDUNG ntext,
    A ntext,
    B ntext,
    C ntext,
    D ntext,
    DAP_AN nchar(1),
    MAMH CHAR(5),
    MAGV CHAR(8)
  );
  -- Lấy thông tin câu hỏi tại mỗi site --
	select CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV into #CungTrinhDoAtSiteTable from BODE  where MAMH = @maMonHoc and TRINHDO = @TRINHDO and MAGV in (Select MAGV from GIAOVIEN where MAKH in(select MAKH from KHOA)) ORDER BY NEWID();
	select CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV into #TrinhDoDuoiAtSiteTable from BODE  where MAMH = @maMonHoc and TRINHDO = CHAR(ASCII(@TRINHDO)+1) and MAGV in (Select MAGV from GIAOVIEN where MAKH in(select MAKH from KHOA)) ORDER BY NEWID();
	DECLARE @countQuestionCungTrinhDoAtSite int = (select count(*) from #CungTrinhDoAtSiteTable);
	DECLARE @countQuestionTrinhDoDuoiAtSite int = (select count(*) from #TrinhDoDuoiAtSiteTable);
	
	-- INSERT CUNG TRINH DO TAI SITE HIEN TAI --
	INSERT INTO #CAUHOITHI
	SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
	FROM #CungTrinhDoAtSiteTable

	-- NEU SO LUONG CAU HOI CUNG TRINH DO KHONG DU TOI THIEU 70% THI QUA SITE KHAC LAY THEM --
	IF @countQuestionCungTrinhDoAtSite < (@SOCAU * 70 / 100)
		BEGIN
			SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			INTO #CungTrinhDoOtherSite
			FROM BODE
			WHERE MAMH = @MAMONHOC
			AND TRINHDO = @TRINHDO
			AND MAGV IN (
				SELECT MAGV
				FROM GIAOVIEN
				WHERE MAKH NOT IN (
					SELECT MAKH
					FROM KHOA
				)
			)
			ORDER BY NEWID()

			INSERT INTO #CAUHOITHI
			SELECT TOP (ROUND((@SOCAU * 70 / 100) - @countQuestionCungTrinhDoAtSite,0)) 
				CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			FROM #CungTrinhDoOtherSite
		END

	SET @countQuestionCungTrinhDoAtSite = (SELECT COUNT(*) FROM #CAUHOITHI);

	IF ((@SOCAU - @countQuestionCungTrinhDoAtSite) > 0) AND (@countQuestionTrinhDoDuoiAtSite > (@SOCAU - @countQuestionCungTrinhDoAtSite))
		BEGIN
			INSERT INTO #CAUHOITHI
			SELECT TOP (@SOCAU - @countQuestionCungTrinhDoAtSite) 
				CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			FROM #TrinhDoDuoiAtSiteTable
		END
	ELSE IF ((@SOCAU - @countQuestionCungTrinhDoAtSite) > 0) AND (@countQuestionTrinhDoDuoiAtSite < (@SOCAU - @countQuestionCungTrinhDoAtSite))
		BEGIN
			INSERT INTO #CAUHOITHI
			SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			FROM #TrinhDoDuoiAtSiteTable

			SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			INTO #DuoiTrinhDoOtherSite
			FROM BODE
			WHERE MAMH = @MAMONHOC
			AND TRINHDO = CHAR(ASCII(@TRINHDO)+1)
			AND MAGV IN (
				SELECT MAGV
				FROM GIAOVIEN
				WHERE MAKH NOT IN (
					SELECT MAKH
					FROM KHOA
				)
			)
			ORDER BY NEWID();

			INSERT INTO #CAUHOITHI
			SELECT TOP (@SOCAU - @countQuestionCungTrinhDoAtSite - @countQuestionTrinhDoDuoiAtSite) 
				CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			FROM #DuoiTrinhDoOtherSite
		END
	SELECT TOP (@SOCAU)
		CAUHOI,
		CAST(NOIDUNG as nvarchar(max)) as [NOIDUNG],
		TRINHDO,
		CAST(A as nvarchar(max)) as [A],
		CAST(B as nvarchar(max)) as [B],
		CAST(C as nvarchar(max)) as [C],
		CAST(D as nvarchar(max)) as [D],
		DAP_AN  
	FROM #CAUHOITHI 
	ORDER BY NEWID()

DROP TABLE #CAUHOITHI
COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayBaiThiDaDangKyTheoMaLop]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayBaiThiDaDangKyTheoMaLop]
    @malop NCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @current_time DATETIME;
    SET @current_time = GETDATE();

    SELECT MAGV, MAMH, MALOP, TRINHDO, NGAYTHI, LAN, SOCAUTHI, THOIGIAN
    FROM GIAOVIEN_DANGKY
    WHERE MALOP = @malop
    AND NGAYTHI >= @current_time;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_LayCauHoi]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_LayCauHoi]
@MABT INT
AS
BEGIN
	SELECT 
		CT_BAITHI.STT_DETHI,
		NOIDUNG,
		A, B, C, D,
		TRALOI,
		CT_BAITHI.CAUHOI AS ID
	FROM CT_BAITHI 
	INNER JOIN BODE ON CT_BAITHI.CAUHOI = BODE.CAUHOI
	WHERE MABT = @MABT
	ORDER BY STT_DETHI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayCauHoiTheoMAGV]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayCauHoiTheoMAGV]
    @MAGV CHAR(8)
AS
BEGIN
    SELECT *
    FROM BODE
    WHERE MAGV = @MAGV;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_LayChiTietBaiThi]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayChiTietBaiThi]
@MABT INT
AS
BEGIN
	SELECT CT.STT_DETHI AS STT, BD.CAUHOI, NOIDUNG, A, B, C, D, DAP_AN, ISNULL(CT.TRALOI, '') AS DACHON
	FROM CT_BAITHI CT
	INNER JOIN (SELECT CAUHOI, NOIDUNG, A, B, C, D, DAP_AN FROM BODE) BD
		ON BD.CAUHOI = CT.CAUHOI
	WHERE CT.MABT = @MABT
	ORDER BY CT.STT_DETHI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayDangKyChuaHoanTatTheoMaSV]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayDangKyChuaHoanTatTheoMaSV]
@MASV NCHAR(8)
AS
BEGIN
    SELECT 
		GVDK.MAGV,
        GVDK.MAMH,
		GVDK.MALOP,
        GVDK.TRINHDO, 
        GVDK.NGAYTHI, 
        GVDK.LAN,
        GVDK.SOCAUTHI, 
        GVDK.THOIGIAN
    FROM 
        GIAOVIEN_DANGKY GVDK
    INNER JOIN 
        SINHVIEN SV ON SV.MALOP = GVDK.MALOP
    LEFT JOIN 
        BAITHI BT ON SV.MASV = BT.MASV 
                AND GVDK.MAMH = BT.MAMH 
                AND GVDK.LAN = BT.LAN
    WHERE 
        SV.MASV = @MASV 
        AND (BT.MASV IS NULL OR BT.TGCL <> 0)
		AND GVDK.NGAYTHI <= GETDATE()
    ORDER BY 
        GVDK.NGAYTHI ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayDangKyDaThiTheoMaSV]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayDangKyDaThiTheoMaSV]
@MASV NCHAR(8)
AS
BEGIN
	SELECT BT.MAMH, GVDK.TRINHDO, BT.LAN, BT.NGAYTHI, BT.DIEM, BT.MABT
	FROM BAITHI BT
	INNER JOIN SINHVIEN SV
		ON BT.MASV = SV.MASV
	INNER JOIN LOP L
		ON SV.MALOP = L.MALOP
	INNER JOIN GIAOVIEN_DANGKY GVDK
		ON GVDK.MALOP = SV.MALOP
			AND GVDK.MAMH = BT.MAMH 
			AND GVDK.LAN = BT.LAN
	WHERE BT.MASV = @MASV AND BT.TGCL = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayDangKyHetHieuLucTheoMaSV]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayDangKyHetHieuLucTheoMaSV]
@MASV NCHAR(8)
AS
BEGIN
	SELECT MAGV, MAMH, SV.MALOP, TRINHDO, NGAYTHI, LAN, SOCAUTHI, THOIGIAN
	FROM GIAOVIEN_DANGKY GVDK
	INNER JOIN ( 
		SELECT MASV, MALOP
		FROM SINHVIEN
		WHERE MASV = @MASV 
	) SV ON SV.MALOP = GVDK.MALOP
	WHERE NGAYTHI < GETDATE()
		OR EXISTS (
			SELECT 1
			FROM BAITHI
			WHERE LAN = GVDK.LAN
				AND MAMH = GVDK.MAMH
				AND MASV = @MASV
		)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayDangKyTheoMAGV]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LayDangKyTheoMAGV]
    @MAGV CHAR(8)
AS
BEGIN
    SELECT *
    FROM GIAOVIEN_DANGKY
    WHERE MAGV = @MAGV;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_LayDangKyTheoMaSV]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayDangKyTheoMaSV]
@MASV NCHAR(8)
AS
BEGIN
    SELECT 
		GVDK.MAGV,
        GVDK.MAMH,
		GVDK.MALOP,
        GVDK.TRINHDO, 
        GVDK.NGAYTHI, 
        GVDK.LAN,
        GVDK.SOCAUTHI, 
        GVDK.THOIGIAN,
		BT.MABT
    FROM 
        GIAOVIEN_DANGKY GVDK
    INNER JOIN 
        SINHVIEN SV ON SV.MALOP = GVDK.MALOP
    LEFT JOIN 
        BAITHI BT ON SV.MASV = BT.MASV 
                AND GVDK.MAMH = BT.MAMH 
                AND GVDK.LAN = BT.LAN
    WHERE 
        SV.MASV = @MASV 
        AND (BT.MASV IS NULL OR BT.TGCL <> 0)
		AND GVDK.NGAYTHI <= GETDATE()
    ORDER BY 
        GVDK.NGAYTHI ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinBaiThiTheoMaBT]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayThongTinBaiThiTheoMaBT]
@MABT INT
AS
BEGIN
	SELECT L.TENLOP, SV.HO + ' ' + SV.TEN AS HoTen, MH.TENMH, BT.NGAYTHI, BT.LAN, BT.DIEM
	FROM BAITHI BT
	INNER JOIN SINHVIEN SV ON SV.MASV = BT.MASV
	INNER JOIN LOP L ON SV.MALOP = L.MALOP
	INNER JOIN MONHOC MH ON MH.MAMH = BT.MAMH
	WHERE MABT = @MABT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinGiangVien]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayThongTinGiangVien]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR (50), @UID SMALLINT

SELECT @UID = UID, @TENUSER = NAME
FROM SYS.sysusers
WHERE SID = (SELECT sid
			FROM sys.server_principals
			WHERE name = @TENLOGIN)

SELECT MAGV = @TENUSER,
		HOTEN = (SELECT HO + ' ' + TEN FROM GIAOVIEN WHERE MAGV = @TENUSER),
		TENNHOM = NAME
		FROM SYS.sysusers
		WHERE UID = (SELECT GROUPUID
					FROM SYS.sysmembers
					WHERE MEMBERUID = @UID)
GO
/****** Object:  StoredProcedure [dbo].[SP_LayThongTinSinhVien]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LayThongTinSinhVien]
    @username NVARCHAR(50),
    @password NVARCHAR(30)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV = @username AND PASSWORD = @password)
    BEGIN
        SELECT MASV, HO + ' ' + TEN AS [HO TEN], MALOP
        FROM Sinhvien
        WHERE MASV = @username;
    END
	ELSE
    BEGIN
        SELECT -1 AS LoginStatus;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSDangKyThi]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_DSDangKyThi]
    @FROMDATE DATETIME,
    @TODATE DATETIME
AS
BEGIN
	SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @FROMDATE_STR NVARCHAR(20)
    DECLARE @TODATE_STR NVARCHAR(20)
    
    SET @FROMDATE_STR = CONVERT(NVARCHAR(20), @FROMDATE, 120)
    SET @TODATE_STR = CONVERT(NVARCHAR(20), @TODATE, 120)
    
    CREATE TABLE #DangKyThiReport (
        MaLop NVARCHAR(50),
        TenLop NVARCHAR(100),
        MaMH NVARCHAR(50),
        TenMH NVARCHAR(100),
        GiangVien NVARCHAR(100),
        SoCauThi INT,
        NgayThi DATE,
        Lan INT,
        DaThi NVARCHAR(1),
        GhiChu NVARCHAR(MAX)
    );

    INSERT INTO #DangKyThiReport (MaLop, TenLop, MaMH, TenMH, GiangVien, SoCauThi, NgayThi, Lan, DaThi, GhiChu)
    EXEC [dbo].[SP_DSDangKyThi] @FROMDATE, @TODATE;

	INSERT INTO #DangKyThiReport (MaLop, TenLop, MaMH, TenMH, GiangVien, SoCauThi, NgayThi, Lan, DaThi, GhiChu)
    EXEC LINK1.TTN.[dbo].[SP_DSDangKyThi] @FROMDATE, @TODATE;

    IF EXISTS (SELECT job_id FROM msdb.dbo.sysjobs_view WHERE name = N'Job_1')
    BEGIN
        EXEC msdb.dbo.sp_delete_job @job_name = N'Job_1'
    END

    EXEC msdb.dbo.sp_add_job @job_name = N'Job_1', @enabled = 1, @start_step_id = 1, @notify_level_eventlog = 2, @delete_level = 0
    EXEC msdb.dbo.sp_add_jobserver @job_name = N'Job_1', @server_name = @@SERVERNAME
    
    EXEC msdb.dbo.sp_add_jobstep 
        @job_name = N'Job_1', 
        @step_id = 1, 
        @step_name = N'Generate Report', 
        @subsystem = N'TSQL', 
        @command = 'SELECT * FROM #DangKyThiReport', 
        @database_name = N'TTN', 
        @on_success_action = 1, 
        @on_fail_action = 2

    EXEC msdb.dbo.sp_start_job @job_name = N'Job_1'
    
    SELECT * FROM #DangKyThiReport;
    
    DROP TABLE #DangKyThiReport;
	SET NOCOUNT OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_DSDangKyThi_TEST]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_REPORT_DSDangKyThi_TEST]
    @FROMDATE DATETIME,
    @TODATE DATETIME
AS
BEGIN
	SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @FROMDATE_STR NVARCHAR(20)
    DECLARE @TODATE_STR NVARCHAR(20)
    
    SET @FROMDATE_STR = CONVERT(NVARCHAR(20), @FROMDATE, 120)
    SET @TODATE_STR = CONVERT(NVARCHAR(20), @TODATE, 120)
    
    CREATE TABLE #DangKyThiReport (
        MaLop NVARCHAR(50),
        TenLop NVARCHAR(100),
        MaMH NVARCHAR(50),
        TenMH NVARCHAR(100),
        GiangVien NVARCHAR(100),
        SoCauThi INT,
        NgayThi DATE,
        Lan INT,
        DaThi NVARCHAR(1),
        GhiChu NVARCHAR(MAX)
    );

	DECLARE @STR1 NVARCHAR(MAX)

    SET @STR1='INSERT INTO #DangKyThiReport (MaLop, TenLop, MaMH, TenMH, GiangVien, SoCauThi, NgayThi, Lan, DaThi, GhiChu) EXEC [dbo].[SP_DSDangKyThi]' + '"' + @FROMDATE +'"'+', "'+ @TODATE + '"'

    IF EXISTS (SELECT job_id FROM msdb.dbo.sysjobs_view WHERE name = N'Job_1')
    BEGIN
        EXEC msdb.dbo.sp_delete_job @job_name = N'Job_1'
    END

    EXECUTE msdb.dbo.sp_add_job @job_name = N'Job_1', @start_step_id = 1
    EXECUTE msdb.dbo.sp_add_jobserver  @job_name = N'Job_1', @server_name =  @@SERVERNAME
    EXECUTE msdb.dbo.sp_add_jobstep  @job_name =  N'Job_1' , @step_id = 1, @step_name = 'REPORT', @command =  @STR1 ,   @server = @@SERVERNAME, @database_name = 'TTN'
   
    EXECUTE msdb.dbo.sp_start_job    @job_name =  N'Job_1'

	EXECUTE (@STR1)
    
    SELECT * FROM #DangKyThiReport;
    
    DROP TABLE #DangKyThiReport;
	SET NOCOUNT OFF;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_REPORT_InBangDiemMonHoc]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_REPORT_InBangDiemMonHoc]
@MALOP NCHAR(15), 
@MAMH CHAR(5),
@LAN SMALLINT

AS
BEGIN

    IF EXISTS (SELECT 1 FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND MALOP = @MALOP AND LAN = @LAN)
    BEGIN

        SELECT 
            SV.MASV, 
            SV.HO + ' ' + SV.TEN AS HOTEN, 
            ISNULL(BD.DIEM, 0) AS DIEM, 
            dbo.FN_READ_POINT(ISNULL(BD.DIEM, 0)) AS DIEMCHU
        FROM 
			(SELECT MASV, HO, TEN, MALOP FROM SINHVIEN WHERE MALOP=@MALOP) SV
        LEFT JOIN (
			SELECT MASV, DIEM
			FROM BAITHI
			WHERE MAMH = @MAMH AND LAN = @LAN
		) BD ON SV.MASV = BD.MASV
        
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SinhVienDangKy]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_SinhVienDangKy]
    @masv NVARCHAR(50),
    @Password NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM SINHVIEN WHERE MASV = @masv AND PASSWORD IS NOT NULL)
    BEGIN
        SELECT -1 AS Result, N'Tài khoản đã tồn tại.' AS Message;
        RETURN;
    END

    UPDATE SINHVIEN
	SET PASSWORD = @Password
    WHERE MASV = @masv

    SELECT 0 AS Result, N'Đăng ký thành công.' AS Message;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAO_CAU_HOI]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TAO_CAU_HOI]
@MAMONHOC  NCHAR(5),
@TRINHDO  NCHAR(1),
@SOCAU INT
AS
BEGIN TRANSACTION
BEGIN
  CREATE TABLE #CAUHOITHI (
    CAUHOI int primary key,
    TRINHDO char(1),
    NOIDUNG ntext,
    A ntext,
    B ntext,
    C ntext,
    D ntext,
    DAP_AN nchar(1),
    MAMH CHAR(5),
    MAGV CHAR(8)
  );
  -- Lấy thông tin câu hỏi tại mỗi site --
	select CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV into #CungTrinhDoAtSiteTable from BODE  where MAMH = @maMonHoc and TRINHDO = @TRINHDO and MAGV in (Select MAGV from GIAOVIEN where MAKH in(select MAKH from KHOA)) ORDER BY NEWID();
	select CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, 
	MAMH, MAGV into #TrinhDoDuoiAtSiteTable from BODE  where MAMH = @maMonHoc and TRINHDO = CHAR(ASCII(@TRINHDO)+1) and MAGV in (Select MAGV from GIAOVIEN where MAKH in(select MAKH from KHOA)) ORDER BY NEWID();
	DECLARE @countQuestionCungTrinhDoAtSite int = (select count(*) from #CungTrinhDoAtSiteTable);
	DECLARE @countQuestionTrinhDoDuoiAtSite int = (select count(*) from #TrinhDoDuoiAtSiteTable);
	
	-- INSERT CUNG TRINH DO TAI SITE HIEN TAI --
	INSERT INTO #CAUHOITHI
	SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
	FROM #CungTrinhDoAtSiteTable

	-- NEU SO LUONG CAU HOI CUNG TRINH DO KHONG DU TOI THIEU 70% THI QUA SITE KHAC LAY THEM --
	IF @countQuestionCungTrinhDoAtSite < (@SOCAU * 70 / 100)
		BEGIN
			SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			INTO #CungTrinhDoOtherSite
			FROM BODE
			WHERE MAMH = @MAMONHOC
			AND TRINHDO = @TRINHDO
			AND MAGV IN (
				SELECT MAGV
				FROM GIAOVIEN
				WHERE MAKH NOT IN (
					SELECT MAKH
					FROM KHOA
				)
			)
			ORDER BY NEWID()

			INSERT INTO #CAUHOITHI
			SELECT TOP (ROUND((@SOCAU * 70 / 100) - @countQuestionCungTrinhDoAtSite,0)) 
				CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			FROM #CungTrinhDoOtherSite
		END

	SET @countQuestionCungTrinhDoAtSite = (SELECT COUNT(*) FROM #CAUHOITHI);

	IF ((@SOCAU - @countQuestionCungTrinhDoAtSite) > 0) AND (@countQuestionTrinhDoDuoiAtSite > (@SOCAU - @countQuestionCungTrinhDoAtSite))
		BEGIN
			INSERT INTO #CAUHOITHI
			SELECT TOP (@SOCAU - @countQuestionCungTrinhDoAtSite) 
				CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			FROM #TrinhDoDuoiAtSiteTable
		END
	ELSE IF ((@SOCAU - @countQuestionCungTrinhDoAtSite) > 0) AND (@countQuestionTrinhDoDuoiAtSite < (@SOCAU - @countQuestionCungTrinhDoAtSite))
		BEGIN
			INSERT INTO #CAUHOITHI
			SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			FROM #TrinhDoDuoiAtSiteTable

			SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			INTO #DuoiTrinhDoOtherSite
			FROM BODE
			WHERE MAMH = @MAMONHOC
			AND TRINHDO = CHAR(ASCII(@TRINHDO)+1)
			AND MAGV IN (
				SELECT MAGV
				FROM GIAOVIEN
				WHERE MAKH NOT IN (
					SELECT MAKH
					FROM KHOA
				)
			)
			ORDER BY NEWID();

			INSERT INTO #CAUHOITHI
			SELECT TOP (@SOCAU - @countQuestionCungTrinhDoAtSite - @countQuestionTrinhDoDuoiAtSite) 
				CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
			FROM #DuoiTrinhDoOtherSite
		END
	SELECT TOP (@SOCAU)
		CAUHOI,
		CAST(NOIDUNG as nvarchar(max)) as [NOIDUNG],
		CAST(A as nvarchar(max)) as [A],
		CAST(B as nvarchar(max)) as [B],
		CAST(C as nvarchar(max)) as [C],
		CAST(D as nvarchar(max)) as [D],
		DAP_AN  
	FROM #CAUHOITHI 
	ORDER BY NEWID()

DROP TABLE #CAUHOITHI
COMMIT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoBaiThi]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TaoBaiThi] @MASV CHAR(8),
@MAMH CHAR(5),
@LAN SMALLINT,
@NGAYTHI DATETIME,
@TRINHDO NCHAR(1),
@SOCAU SMALLINT,
@TGCL INT
AS
BEGIN
	BEGIN TRAN
	SET NOCOUNT ON
	INSERT INTO BAITHI(MASV, MAMH, LAN, NGAYTHI, DIEM, TGCL) VALUES(@MASV, @MAMH, @LAN, @NGAYTHI, 0, @TGCL*60)
	SET NOCOUNT OFF
	DECLARE @MABT INT
	SELECT @MABT = MABT FROM BAITHI WHERE MAMH = @MAMH AND MASV = @MASV AND LAN = @LAN

	CREATE TABLE #CAUHOITHI (
		CAUHOI int primary key,
		NOIDUNG ntext,
		A ntext,
		B ntext,
		C ntext,
		D ntext,
		DAP_AN nchar(1),
		STT_DETHI SMALLINT IDENTITY(1,1)
	  );
	  
	SET NOCOUNT ON
	INSERT INTO #CAUHOITHI
	EXEC [dbo].[SP_TaoCauHoi] @MAMH, @TRINHDO, @SOCAU
	SET NOCOUNT OFF

	SET NOCOUNT ON
	INSERT INTO CT_BAITHI(MABT, CAUHOI, STT_DETHI)
	SELECT @MABT, CAUHOI, STT_DETHI
	FROM #CAUHOITHI
	DROP TABLE #CAUHOITHI
	COMMIT TRAN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoCauHoi]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TaoCauHoi] @MAMONHOC  CHAR(5),
@TRINHDO  NCHAR(1),
@SOCAU INT
AS
BEGIN

	SET NOCOUNT ON
	BEGIN TRANSACTION	
	CREATE TABLE #CAUHOITHI (
		CAUHOI int primary key,
		TRINHDO Nchar(1),
		NOIDUNG ntext,
		A ntext,
		B ntext,
		C ntext,
		D ntext,
		DAP_AN nchar(1),
		MAMH CHAR(5),
		MAGV CHAR(8)
	);
  
  -- Lấy thông tin câu hỏi tại mỗi site --
  select CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV 
  into #CungTrinhDoAtSiteTable from BODE  
  where MAMH = @MAMONHOC and TRINHDO = @TRINHDO and MAGV in 
  (Select MAGV from GIAOVIEN where MAKH in (select MAKH from KHOA)) 
  ORDER BY NEWID();
  
  select CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV 
  into #TrinhDoDuoiAtSiteTable from BODE  
  where MAMH = @MAMONHOC and TRINHDO = CHAR(ASCII(@TRINHDO)+1) and MAGV in 
  (Select MAGV from GIAOVIEN where MAKH in (select MAKH from KHOA)) 
  ORDER BY NEWID();
  
  DECLARE @countQuestionCungTrinhDoAtSite int = (select count(*) from #CungTrinhDoAtSiteTable);
  DECLARE @countQuestionTrinhDoDuoiAtSite int = (select count(*) from #TrinhDoDuoiAtSiteTable);
  
  -- INSERT CUNG TRINH DO TAI SITE HIEN TAI --
  INSERT INTO #CAUHOITHI(CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV)
  SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
  FROM #CungTrinhDoAtSiteTable

  -- NEU SO LUONG CAU HOI CUNG TRINH DO KHONG DU TOI THIEU 70% THI QUA SITE KHAC LAY THEM --
  IF @countQuestionCungTrinhDoAtSite < (@SOCAU * 70 / 100)
  BEGIN
    SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
    INTO #CungTrinhDoOtherSite
    FROM BODE
    WHERE MAMH = @MAMONHOC
    AND TRINHDO = @TRINHDO
    AND MAGV IN (
      SELECT MAGV
      FROM GIAOVIEN
      WHERE MAKH NOT IN (
        SELECT MAKH
        FROM KHOA
      )
    )

    INSERT INTO #CAUHOITHI(CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV)
    SELECT TOP (CEILING((@SOCAU * 70 / 100) - @countQuestionCungTrinhDoAtSite)) 
    CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
    FROM #CungTrinhDoOtherSite
    ORDER BY NEWID()
  END

  SET @countQuestionCungTrinhDoAtSite = (SELECT COUNT(*) FROM #CAUHOITHI);

  IF ((@SOCAU - @countQuestionCungTrinhDoAtSite) > 0) AND (@countQuestionTrinhDoDuoiAtSite > (@SOCAU - @countQuestionCungTrinhDoAtSite))
  BEGIN 
    INSERT INTO #CAUHOITHI(CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV)
    SELECT TOP (@SOCAU - @countQuestionCungTrinhDoAtSite) 
    CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
    FROM #TrinhDoDuoiAtSiteTable
	ORDER BY NEWID()
  END
  ELSE IF ((@SOCAU - @countQuestionCungTrinhDoAtSite) > 0) AND (@countQuestionTrinhDoDuoiAtSite < (@SOCAU - @countQuestionCungTrinhDoAtSite))
  BEGIN
    INSERT INTO #CAUHOITHI(CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV)
    SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
    FROM #TrinhDoDuoiAtSiteTable

    SELECT CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
    INTO #DuoiTrinhDoOtherSite
    FROM BODE
    WHERE MAMH = @MAMONHOC
    AND TRINHDO = CHAR(ASCII(@TRINHDO)+1)
    AND MAGV IN (
      SELECT MAGV
      FROM GIAOVIEN
      WHERE MAKH NOT IN (
        SELECT MAKH
        FROM KHOA
      )
    )
	ORDER BY NEWID()
    INSERT INTO #CAUHOITHI(CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV)
    SELECT TOP (@SOCAU - @countQuestionCungTrinhDoAtSite - @countQuestionTrinhDoDuoiAtSite) 
    CAUHOI, TRINHDO, NOIDUNG, A, B, C, D, DAP_AN, MAMH, MAGV
    FROM #DuoiTrinhDoOtherSite
  END

  COMMIT

  SELECT TOP (@SOCAU)
    CAUHOI,
    NOIDUNG as [NOIDUNG],
    A as [A],
    B as [B],
    C as [C],
    D as [D],
    DAP_AN
  FROM #CAUHOITHI 
  ORDER BY NEWID()

  DROP TABLE #CAUHOITHI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoMaCauHoi]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TaoMaCauHoi]
AS
BEGIN
    DECLARE @CAUHOI INT

    SET @CAUHOI = ISNULL((SELECT TOP 1 CAUHOI FROM BODE ORDER BY CAUHOI DESC), 0) + 1

    SELECT @CAUHOI AS NEWCAUHOI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoTaiKhoan]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_TaoTaiKhoan]
    @LGNAME VARCHAR(50),
    @PASS NVARCHAR(50),
    @USERNAME VARCHAR(50),
    @ROLE VARCHAR(50)
AS
BEGIN
    -- Begin transaction
    BEGIN TRANSACTION;

    BEGIN TRY
        -- ALTER the login
        DECLARE @SQL NVARCHAR(MAX)
        SET @SQL = N'CREATE LOGIN [' + @LGNAME + '] WITH PASSWORD = N''' + @PASS + ''''
        EXEC sp_executesql @SQL

        -- ALTER the user and map to the login
        SET @SQL = N'CREATE USER [' + @USERNAME + '] FOR LOGIN [' + @LGNAME + ']'
        EXEC sp_executesql @SQL

        -- Add the user to the database role
        SET @SQL = N'ALTER ROLE [' + @ROLE + '] ADD MEMBER [' + @USERNAME + ']'
        EXEC sp_executesql @SQL

        -- Add the login to server roles based on the provided role
        IF @ROLE = 'Truong'
        BEGIN
            SET @SQL = N'ALTER SERVER ROLE [securityadmin] ADD MEMBER [' + @LGNAME + ']'
            EXEC sp_executesql @SQL

            SET @SQL = N'ALTER SERVER ROLE [processadmin] ADD MEMBER [' + @LGNAME + ']'
            EXEC sp_executesql @SQL

			SET @SQL = N'ALTER SERVER ROLE [sysadmin] ADD MEMBER [' + @LGNAME + ']'
            EXEC sp_executesql @SQL

			EXEC [dbo].[SP_CapQuyenJob] @LGNAME, @USERNAME
        END
		ELSE IF @ROLE = 'Coso'
		BEGIN
			SET @SQL = N'ALTER SERVER ROLE [securityadmin] ADD MEMBER [' + @LGNAME + ']'
            EXEC sp_executesql @SQL

            SET @SQL = N'ALTER SERVER ROLE [processadmin] ADD MEMBER [' + @LGNAME + ']'
            EXEC sp_executesql @SQL
		END
        ELSE IF @ROLE = 'Giangvien'
        BEGIN
            SET @SQL = N'ALTER SERVER ROLE [processadmin] ADD MEMBER [' + @LGNAME + ']'
            EXEC sp_executesql @SQL
        END

        -- Commit transaction if everything succeeds
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Rollback transaction if any error occurs
        ROLLBACK TRANSACTION;

        -- Raise an error with details
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), @ErrorSeverity = ERROR_SEVERITY(), @ErrorState = ERROR_STATE();
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThayDoiTenKhoa]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThayDoiTenKhoa]
    @makhoa CHAR(5),
    @tenkhoa NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

	IF NOT EXISTS (
		SELECT 1
        FROM KHOA
        WHERE MAKH = @makhoa
	)
	BEGIN
        RAISERROR ('Mã khoa không tồn tại.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM KHOA
        WHERE TENKH = @tenkhoa
            AND MAKH != @makhoa
    )
    BEGIN
        RAISERROR ('Tên khoa đã tồn tại.', 16, 1);
        RETURN;
    END;

    UPDATE KHOA
    SET TENKH = @tenkhoa
    WHERE MAKH = @makhoa;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThayDoiTenMonHoc]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThayDoiTenMonHoc]
    @mamon CHAR(5),
    @tenmon NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

	IF NOT EXISTS (
		SELECT 1
        FROM MONHOC
        WHERE MAMH = @mamon
	)
	BEGIN
        RAISERROR ('Mã môn học không tồn tại.', 16, 1);
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM MONHOC
        WHERE TENMH = @tenmon
            AND MAMH != @mamon
    )
    BEGIN
        RAISERROR ('Tên môn học đã tồn tại.', 16, 1);
        RETURN;
    END;

    UPDATE MONHOC
    SET TENMH = @tenmon
    WHERE MAMH = @mamon;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemGiangVien]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThemGiangVien]
    @magv CHAR(8),
    @ho NVARCHAR(50),
    @ten NVARCHAR(10),
    @diachi NVARCHAR(50),
    @makhoa CHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Giaovien (MAGV, HO, TEN, DIACHI, MAKH) VALUES (@magv, @ho, @ten, @diachi, @makhoa);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemKhoa]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThemKhoa] 
    @makhoa NVARCHAR(255),
    @tenkhoa NVARCHAR(255),
    @macs NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Khoa WHERE MAKH = @makhoa)
    BEGIN
        RAISERROR ('Mã khoa đã tồn tại', 16, 1);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM Khoa WHERE TENKH = @tenkhoa)
    BEGIN
        RAISERROR ('Tên khoa đã tồn tại', 16, 1);
        RETURN;
    END

    INSERT INTO Khoa (MAKH, TENKH, MACS) VALUES (@makhoa, @tenkhoa, @macs);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThemMonHoc]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemMonHoc] 
    @mamon NVARCHAR(255),
    @tenmon NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @mamon_count INT;
    DECLARE @tenmon_count INT;

    SELECT @mamon_count = COUNT(*) FROM Monhoc WHERE MAMH = @mamon;

    SELECT @tenmon_count = COUNT(*) FROM Monhoc WHERE TENMH = @tenmon;

    IF @mamon_count > 0
    BEGIN
        RAISERROR ('Mã môn học đã tồn tại', 16, 1);
        RETURN;
    END

    IF @tenmon_count > 0
    BEGIN
        RAISERROR ('Tên môn học đã tồn tại', 16, 1);
        RETURN;
    END

    INSERT INTO Monhoc (MAMH, TENMH) VALUES (@mamon, @tenmon);
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongTinBaiThi]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThongTinBaiThi] @MASV CHAR(8),
@MAMH CHAR(5),
@LAN SMALLINT,
@TRINHDO CHAR(1),
@SOCAU SMALLINT
AS
BEGIN
	DECLARE @TGCL INT
	DECLARE @STR NCHAR(255)
	IF NOT EXISTS(SELECT 1 FROM BAITHI WHERE MASV = @MASV AND MAMH = @MAMH AND LAN = @LAN)
	BEGIN
		DECLARE @NGAYTHI DATETIME = GETDATE()
		DECLARE @MALOP NCHAR(15)
		SELECT @MALOP = MALOP FROM SINHVIEN WHERE MASV = @MASV
		SELECT @TGCL = CAST(THOIGIAN AS int) FROM GIAOVIEN_DANGKY WHERE MAMH = @MAMH AND LAN = @LAN AND MALOP = @MALOP

		IF @TGCL IS NULL
		BEGIN
			RAISERROR(N'Không tìm thấy đăng ký hợp lệ', 16, 1)
			RETURN
		END
		
		EXEC [dbo].[SP_TaoBaiThi] @MASV, @MAMH, @LAN, @NGAYTHI, @TRINHDO, @SOCAU, @TGCL

	END

	SELECT 
		SV.MALOP AS N'MÃ LỚP',
		TENLOP AS N'LỚP',
		TEN AS N'HỌ TÊN',
		TENMH AS N'TÊN MÔN',
		NGAYTHI AS N'NGÀY THI',
		LAN	AS N'LẦN',
		TGCL AS N'THỜI GIAN CÒN LẠI',
		MABT AS N'Mã bài thi'
	FROM (
		SELECT * FROM BAITHI WHERE MASV = @MASV AND MAMH = @MAMH AND LAN = @LAN
	) AS BAITHI
	INNER JOIN (
		SELECT MASV, HO + TEN AS TEN, MALOP FROM SINHVIEN WHERE MASV = @MASV
	) AS SV ON BAITHI.MASV = SV.MASV
	INNER JOIN (
		SELECT MAMH, TENMH FROM MONHOC WHERE MAMH = @MAMH
	) AS MONHOC ON MONHOC.MAMH = BAITHI.MAMH
	INNER JOIN (
		SELECT MALOP, TENLOP FROM LOP
	) AS LOP ON LOP.MALOP = SV.MALOP
	WHERE NGAYTHI <= GETDATE()

END
GO
/****** Object:  StoredProcedure [dbo].[SP_TinhDiem]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TinhDiem]
@MABT INT,
@SOCAU INT
AS
BEGIN
		DECLARE @SOCAUDUNG FLOAT
		DECLARE @DIEM FLOAT
		SELECT @SOCAUDUNG = ROUND(CAST(COUNT(*) AS float), 1)
		FROM CT_BAITHI
		INNER JOIN BODE ON BODE.CAUHOI = CT_BAITHI.CAUHOI
		WHERE MABT = @MABT AND CAST(TRALOI AS char(1)) = BODE.DAP_AN
		
		SET @DIEM = ROUND(10 * (@SOCAUDUNG/@SOCAU), 2)
		UPDATE BAITHI
		SET DIEM = @DIEM, TGCL = 0
		WHERE MABT = @MABT
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TraLoiCauHoi]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TraLoiCauHoi]
@MABT INT,
@CAUHOI INT,
@TRALOI NCHAR(1)
AS
BEGIN
		UPDATE CT_BAITHI
		SET TRALOI = @TRALOI
		WHERE MABT = @MABT AND CAUHOI = @CAUHOI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_BODE]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_BODE]
@CAUHOI INT,
@TRINHDO CHAR(1),
@NOIDUNG NTEXT,
@A NTEXT,
@B NTEXT,
@C NTEXT,
@D NTEXT,
@DAP_AN CHAR(1)
AS
BEGIN
	DECLARE @isExisted int;
	EXEC @isExisted = [dbo].[SP_EXISTED_BODE] @CAUHOI
	IF @isExisted = 0
		BEGIN
			RAISERROR('Câu hỏi không tồn tại', 16, 1);
			RETURN 
		END
	UPDATE BODE
	SET TRINHDO=@TRINHDO, NOIDUNG=@NOIDUNG, A=@A, B=@B, C=@C, D=@D, DAP_AN=@DAP_AN
	WHERE CAUHOI = @CAUHOI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_GIAOVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_GIAOVIEN]
@MAGV CHAR(8),
@HO NVARCHAR(50),
@TEN NVARCHAR(10),
@DIACHI NVARCHAR(50)
AS
BEGIN
	DECLARE @isExisted int;
	EXEC @isExisted = SP_EXISTED_GIAOVIEN @MAGV
	IF @isExisted = 0
		BEGIN
			RAISERROR('Không tìm thấy mã giáo viên.', 16, 1)
			RETURN
		END
	UPDATE GIAOVIEN
	SET HO = @HO, TEN = @TEN, DIACHI = @DIACHI
	WHERE MAGV = @MAGV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_KHOA]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_KHOA]
@MAKH CHAR(8),
@TENKH NVARCHAR(50)
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM KHOA WHERE MAKH = @MAKH)
		BEGIN
			RAISERROR(N'Mã khoa này không tồn tại ở cơ sở này.', 16, 1);
			RETURN
		END
	IF EXISTS (SELECT * FROM LINK0.TTN.DBO.KHOA WHERE TENKH = @TENKH)
		BEGIN
			RAISERROR(N'Tên khoa đã tồn tại.',16,1);
			RETURN
		END
	UPDATE KHOA
	SET TENKH = @TENKH
	WHERE MAKH = @MAKH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_LOP]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_LOP]
@MALOP CHAR(15),
@TENLOP NVARCHAR(50)
AS
BEGIN
	DECLARE @CurrentTENLOP NVARCHAR(50)

    SELECT @CurrentTENLOP = TENLOP
    FROM LOP
    WHERE MALOP = @MALOP

    IF @TENLOP != @CurrentTENLOP
    BEGIN
        IF EXISTS (SELECT * FROM LINK0.TTN.DBO.LOP WHERE TENLOP = @TENLOP)
        BEGIN
            RAISERROR(N'Tên lớp đã tồn tại.', 16, 1);
            RETURN;
        END
    END

	IF NOT EXISTS(SELECT 1 FROM LOP WHERE MALOP = @MALOP)
	BEGIN
		RAISERROR('Mã lớp không tồn tại ở cơ sở này', 16, 1);
		RETURN 
	END

	UPDATE LOP 
	SET TENLOP = @TENLOP
	WHERE MALOP = @MALOP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_MONHOC]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_MONHOC]
@MAMH CHAR(5),
@TENMH NVARCHAR(50)
AS
BEGIN
	DECLARE @isExisted int;
	DECLARE @CurrentTenMH NVARCHAR(50)

	EXEC @isExisted = [dbo].[SP_EXISTED_MONHOC] @MAMH
	IF @isExisted = 0
	  BEGIN
		  RAISERROR(N'Không tìm thấy môn học.',16,1);
		  RETURN
	  END

    SELECT @CurrentTenMH = TENMH
    FROM MONHOC
    WHERE MAMH = @MAMH

    IF @TENMH != @CurrentTenMH AND EXISTS (SELECT * FROM MONHOC WHERE TENMH = @TENMH)
        BEGIN
            RAISERROR(N'Tên môn học đã tồn tại.', 16, 1);
            RETURN;
        END
	
	UPDATE MONHOC
	SET TENMH=@TENMH WHERE MAMH=@MAMH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_SINHVIEN]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UPDATE_SINHVIEN]
@MASV CHAR(8),
@HO NVARCHAR(50),
@TEN NVARCHAR(10),
@NGAYSINH DATE,
@DIACHI NVARCHAR(100)
AS
BEGIN
	IF NOT EXISTS(SELECT 1 FROM SINHVIEN WHERE MASV = @MASV)
		BEGIN
			RAISERROR(N'Mã sinh viên này không tồn tại ở cơ sở này', 16, 1);
			RETURN
		END
	UPDATE SINHVIEN
	SET HO = @HO, TEN = @TEN, NGAYSINH = @NGAYSINH, DIACHI = @DIACHI
	WHERE MASV = @MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateTime]    Script Date: 15/07/2024 7:24:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateTime]
@MABT INT,
@TGCL INT
AS
BEGIN
		UPDATE BAITHI
		SET TGCL = @TGCL
		WHERE MABT = @MABT
END
GO
USE [master]
GO
