<!DOCTYPE html>
{% load static %}
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Đăng Nhập</title>
    <!-- Liên kết tới Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="stylesheet" href="{% static 'styles/message.css' %}">
    <!-- Web Logo -->
    {% include 'icon.html' %}
</head>
<body>
    {% if messages %}

    <ul class="messages">
        {% for message in messages %}
        <li class="{{message.tags}}">{{message}}</li>
        {% endfor %}
    </ul>

    {% endif %}

    <div class="container d-flex justify-content-center align-items-center center-container">
        <div class="w-100" style="max-width: 400px;">
            <div class="text-center mb-4">
                <button id="btnGiangVien" class="btn btn-primary">Giảng viên</button>
                <button id="btnSinhVien" class="btn btn-secondary">Sinh viên</button>
            </div>

            <div id="formGiangVien">
                <form action="{% url 'login-gv' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="gv_coso">Chọn cơ sở:</label>
                        <select class="form-control" id="gv_coso" name="gv_coso">
                            {% for cs in danhsach_cs %}
                            <option>{{cs}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="giangvienUsername">Tên đăng nhập:</label>
                        <input type="text" class="form-control" id="giangvienUsername" name="giangvienUsername" required>
                    </div>
                    <div class="form-group">
                        <label for="giangvienPassword">Mật khẩu:</label>
                        <input type="password" class="form-control" id="giangvienPassword" name="giangvienPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </form>
            </div>

            <div id="formSinhVien" class="hidden">
                <form id="formDangNhap" action="{% url 'login-sv' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="sv_coso">Chọn cơ sở:</label>
                        <select class="form-control" id="sv_coso" name="sv_coso">
                            {% for cs in danhsach_cs %}
                            <option>{{cs}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sinhvienUsername">Mã sinh viên:</label>
                        <input type="text" class="form-control" id="sinhvienUsername" name="sinhvienUsername" required>
                    </div>
                    <div class="form-group">
                        <label for="sinhvienPassword">Mật khẩu:</label>
                        <input type="password" class="form-control" id="sinhvienPassword" name="sinhvienPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    <button type="button" id="toggleDangKy" class="btn btn-sm btn-secondary">Đăng ký</button>
                </form>

                <form id="formDangKy" class="hidden" action="{% url 'register-sv' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="masinhvien">Mã sinh viên:</label>
                        <select class="form-control" id="masinhvien" name="masinhvien">
                            {% for sv in danhsach_sv %}
                            <option>{{sv.0}} | {{sv.2}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dangkyPassword">Mật khẩu:</label>
                        <input type="password" class="form-control" id="dangkyPassword" name="dangkyPassword" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng ký</button>
                    <button type="button" id="toggleDangNhap" class="btn btn-sm btn-secondary">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Tin nhắn thông báo -->
    <script src="{% static 'scripts/message.js' %}"></script>

    <!-- Liên kết tới jQuery và Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#btnGiangVien').click(function() {
                $('#formGiangVien').removeClass('hidden');
                $('#formSinhVien').addClass('hidden');
                $('#formDangKy').addClass('hidden');
                $('#btnGiangVien').removeClass('btn-secondary').addClass('btn-primary');
                $('#btnSinhVien').removeClass('btn-primary').addClass('btn-secondary');
            });

            $('#btnSinhVien').click(function() {
                $('#formSinhVien').removeClass('hidden');
                $('#formDangNhap').removeClass('hidden');
                $('#formDangKy').addClass('hidden');
                $('#formGiangVien').addClass('hidden');
                $('#btnSinhVien').removeClass('btn-secondary').addClass('btn-primary');
                $('#btnGiangVien').removeClass('btn-primary').addClass('btn-secondary');
            });

            $('#toggleDangKy').click(function() {
                $('#formDangKy').removeClass('hidden');
                $('#formDangNhap').addClass('hidden');
            });

            $('#toggleDangNhap').click(function() {
                $('#formDangNhap').removeClass('hidden');
                $('#formDangKy').addClass('hidden');
            });
        });
    </script>
</body>
</html>
