<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Testify - Giảng viên</title>
    <!-- Icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Datatable -->
    <link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/message.css' %}">
    <link rel="stylesheet" href="{% static 'styles/mainpp.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js" ></script>

    <!-- Web Logo -->
    {% include 'icon.html' %}

    <style>
        /* Style for modal content */
        .modal-content {
            border-radius: 10px;
        }
        
        /* Style for modal body */
        .modal-body {
            padding: 20px;
        }
        
        /* Style for table */
        .table {
            width: 100%;
            margin-bottom: 0;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 5px;
        }
        
        /* Style for table header */
        .table thead th {
            vertical-align: middle;
            border: 1px solid #dee2e6;
            background-color: #f5f5f5;
            text-align: center;
            font-weight: bold;
            padding: 10px;
        }
        
        /* Style for table body */
        .table tbody td {
            vertical-align: middle;
            border: 1px solid #dee2e6;
            text-align: center;
            padding: 10px;
        }
    </style>
    

    <script type="text/javascript">
        $(document).ready(function($) { 
    
            $(document).on('click', '.btn-print', function(event)  {
                event.preventDefault();
                
                var element = document.getElementById('report-container'); 
    
                var opt = {
                    margin:       1,
                    filename:     'report-exams-score' + '.pdf',
                    image:        { type: 'jpeg', quality: 0.98 },
                    html2canvas:  { scale: 2 },
                    jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
    
                html2pdf().set(opt).from(element).save();
    
            });
        });
    </script>
    

</head>

<body>
    <style>
        .custom-modal .modal-dialog {
            max-width: 50%; 
        }
    </style>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{message.tags}}">{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% include 'preloader.html' %}

    <!-- ***** Sidebar Start ***** -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-logo" onclick="toggleSidebar()">
            <img class="logo" style="width:40px" src="{% static 'images/graduation.png' %}" alt="logo">
            <div class="logo-text" style="margin-left: 10px; color: #f5ffda; font-family: 'Approach Mono TRIAL Bold', sans-serif; font-size:30px">  testify  </div>
        </div>
        <!-- <a class="link btn-report" href="#" data-toggle="modal" data-target="#viewScoresModal"><i class='bx bxs-report'></i><span class="menu-a">Xem điểm thi</span></a> -->
    </div>
    <!-- ***** Sidebar End ***** -->

    <div id="main">
        <!-- ***** Header Area Start ***** -->
        <header>
            <div class="header-container">
                <div class="header-left">
                    <nav>
                        <ul class="nav-links">
                            <li><a href="{% url 'cauhoi' %}" class="{% if request.resolver_match.view_name == 'cauhoi' %}active{% endif %}">Bộ đề</a></li>
                            <li><a href="{% url 'dangkythi-gv' %}" class="{% if request.resolver_match.view_name == 'dangkythi-gv' %}active{% endif %}">Lịch thi</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <div class="user-menu">
                        <img src="{% static 'images/teacher-user.png' %}" alt="User Icon" class="user-icon" onclick="toggleUserMenu()">
                        <div id="userMenu" class="user-menu-dropdown">
                            <a href="#">
                                Mã: {{thongtin.0}} | 
                                Tên: {{thongtin.1}} | 
                                Nhóm: {{thongtin.2}}
                            </a>
                            <a href="{% url 'login-register' %}">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        {% block content %}
        {% endblock content %}

        {% include 'footer.html' %}
    </div>

    <!-- Modal -->
    <!-- <div class="modal fade" id="viewScoresModal" tabindex="-1" role="dialog" aria-labelledby="viewScoresModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="viewScoresModalLabel">Xem điểm thi</h5>
                </div>
                <div class="modal-body">
                    <form id="viewScoresForm">
                        <div class="form-group">
                            <label for="className">Tên lớp</label>
                            <select id="className" name="className" class="form-control">
                                {% for key, val in lop.items %}
                                <option value="{{ key }}">{{ val.tenlop }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="subjectName">Tên môn học</label>
                            <select id="subjectName" name="subjectName" class="form-control">
                                {% for key, val in mon.items %}
                                <option value="{{ key }}">{{ val.tenmh }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="examAttempt">Lần thi</label>
                            <select id="examAttempt" name="examAttempt" class="form-control">
                                <option value="1">Lần 1</option>
                                <option value="2">Lần 2</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Xem điểm</button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Report Modal -->
    <!-- <div class="modal fade custom-modal" id="reportModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Danh sách điểm thi</h5>
                </div>
                <div class="modal-body" id="report-container">
                    <p><strong>Lớp:</strong> <span id="classLabel"></span></p>
                    <p><strong>Môn thi:</strong> <span id="subjectLabel"></span></p>
                    <p><strong>Lần:</strong> <span id="attemptLabel"></span></p>
                    <hr>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Mã sinh viên</th>
                                <th>Họ và tên</th>
                                <th>Điểm</th>
                                <th>Điểm chữ</th>
                            </tr>
                        </thead>
                        <tbody id="report-table-body">
                            
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-print" id="exportPdfBtn">Xuất PDF</button>
                </div>
            </div>
        </div>
    </div> -->
    

    <!-- Scripts -->
    <script src="{% static 'scripts/toggle.js' %}"></script>
    <script src="{% static 'scripts/message.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>

    <!-- jsPDF -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>

    <!-- <script>
        document.addEventListener("DOMContentLoaded", function() {
    
            document.querySelector('.btn-report').addEventListener('click', function() {
                event.preventDefault();
                const className = button.getAttribute('data-lop');;
                const subjectName = button.getAttribute('data-monhoc');
                const examAttempt = button.getAttribute('data-lan');

                $.ajax({
                    url: '{% url "report-score" %}',
                    method: 'POST',
                    data: {
                        className: className,
                        subjectName: subjectName,
                        examAttempt: examAttempt,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        const classNameSelect = document.getElementById('className');
                        const classT = classNameSelect.options[classNameSelect.selectedIndex].text;
                        const subjectSelect = document.getElementById('subjectName');
                        const subject = subjectSelect.options[subjectSelect.selectedIndex].text;
                        const attempt = document.getElementById('examAttempt').value;

                        const reportContainer = document.getElementById('report-container');
                        const classLabel = document.getElementById('classLabel');
                        const subjectLabel = document.getElementById('subjectLabel');
                        const attemptLabel = document.getElementById('attemptLabel');

                        classLabel.textContent = classT;
                        subjectLabel.textContent = subject;
                        attemptLabel.textContent = attempt;

                        const tableBody = document.getElementById('report-table-body');
                        tableBody.innerHTML = '';
                        response.ds.forEach(score => {
                            const row = document.createElement('tr');
                            row.innerHTML = `<td>${score.masv}</td><td>${score.hoten}</td><td>${score.diem}</td><td>${score.diemchu}</td>`;
                            tableBody.appendChild(row);
                        });

                        $('#reportModal').modal('show');
                    },
                    error: function(error) {
                        console.error('Error fetching scores:', error);
                    }
                });
            });
    
        });
    </script> -->
</body>

</html>
