<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <title>Testify - Trường</title>
    <!-- Icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Datatable -->
    <link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/message.css' %}">
    <link rel="stylesheet" href="{% static 'styles/mainpp.css' %}">
</head>

<body>
    {% if messages %}

    <ul class="messages">
        {% for message in messages %}
        <li class="{{message.tags}}">{{message}}</li>
        {% endfor %}
    </ul>

    {% endif %}

    {% include 'preloader.html' %}

    <!-- ***** Sidebar Start ***** -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-logo" onclick="toggleSidebar()">
            <img class="logo" style="width:40px" src="{% static 'images/graduation.png' %}" alt="logo">
            <div class="logo-text" style="margin-left: 10px; color: #f5ffda; font-family: 'Approach Mono TRIAL Bold', sans-serif; font-size:30px">  testify  </div>
        </div>
        <a class="link" href="#" data-toggle="modal" data-target="#reportModal"><i class='bx bxs-report'></i><span class="menu-a btn-report">Xem Report</span></a>
        <a class="link" href="#" data-toggle="modal" data-target="#addLoginModal"><i class='bx bxs-user-rectangle'></i><span class="menu-a btn-login">Tạo tài khoản (Trường)</span></a>
    </div>
    <!-- ***** Sidebar End ***** -->

    <div id="main">

        <!-- ***** Header Area Start ***** -->
        <header>
            <div class="header-container">
                <div class="header-left">
                    <nav>
                        <ul class="nav-links">
                            <li><a href="{% url 'coso' %}" class="{% if request.resolver_match.view_name == 'coso' %}active{% endif %}">Cơ sở</a></li>
                            <li><a href="{% url 'khoa' %}" class="{% if request.resolver_match.view_name == 'khoa' %}active{% endif %}">Khoa</a></li>
                            <li><a href="{% url 'lop' %}" class="{% if request.resolver_match.view_name == 'lop' %}active{% endif %}">Lớp</a></li>
                            <li><a href="{% url 'giangvien' %}" class="{% if request.resolver_match.view_name == 'giangvien' %}active{% endif %}">Giảng viên</a></li>
                            <li><a href="{% url 'sinhvien' %}" class="{% if request.resolver_match.view_name == 'sinhvien' %}active{% endif %}">Sinh viên</a></li>
                            <li><a href="{% url 'monhoc' %}" class="{% if request.resolver_match.view_name == 'monhoc' %}active{% endif %}">Môn học</a></li>
                            <li><a href="{% url 'bode' %}" class="{% if request.resolver_match.view_name == 'bode' %}active{% endif %}">Bộ đề</a></li>
                            <li><a href="{% url 'dangkythi' %}" class="{% if request.resolver_match.view_name == 'dangkythi' %}active{% endif %}">Đăng ký thi</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-right">
                    <div class="user-menu">
                        <img src="{% static 'images/teacher-user.png' %}" alt="User Icon" class="user-icon"
                            onclick="toggleUserMenu()">
                        <div id="userMenu" class="user-menu-dropdown">
                            <a href="#">
                                Mã: {{thongtin.0}} | 
                                Tên: {{thongtin.1}} | 
                                Nhóm: {{thongtin.2}}
                            </a>
                            <a href="{% url 'login-register' %}">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        {% block content %}

        {% endblock content %}

        {% include 'footer.html' %}
    </div>

    <!-- Modal Login -->
    <div class="modal fade" id="addLoginModal" tabindex="-1" role="dialog" aria-labelledby="addLoginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLoginModalLabel">Tạo Login (Trường)</h5>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addLoginForm" method="POST" action="{% url 'register-truong' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="magv">Giảng viên:</label>
                        <select class="form-control" id="magv" name="magv" required>
                            {% for key, val in request.session.gv_list.items %}
                            <option value="{{key}}-{{val.tengv}}">{{key}} | {{val.tengv}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Tạo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Report -->
    <div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">Chọn Thời Gian Báo Cáo</h5>
                </div>
                <div class="modal-body">
                    <form id="reportForm" method="POST" action="/">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="fromDate">Từ Ngày</label>
                            <input type="date" class="form-control" id="fromDate" name="fromDate" required>
                        </div>
                        <div class="form-group">
                            <label for="toDate">Đến Ngày</label>
                            <input type="date" class="form-control" id="toDate" name="toDate" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Xem Báo Cáo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="reportContainer" style="display: none;">
        <h1 class="text-center">DANH SÁCH ĐĂNG KÝ THI TRẮC NGHIỆM CƠ SỞ 1</h1>
        <h3 class="text-center" id="reportTitle"></h3>
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Mã Lớp</th>
                    <th>Tên Lớp</th>
                    <th>Mã Môn Học</th>
                    <th>Tên Môn Học</th>
                    <th>Giảng Viên</th>
                    <th>Số Câu Thi</th>
                    <th>Ngày Thi</th>
                    <th>Lần</th>
                    <th>Đã Thi</th>
                    <th>Ghi Chú</th>
                </tr>
            </thead>
            <tbody id="reportData">
                <!-- Dữ liệu sẽ được chèn vào đây bởi JavaScript -->
            </tbody>
        </table>
    </div>


    <!-- Scripts -->
    <script src="{% static 'scripts/toggle.js' %}"></script>
    <script src="{% static 'scripts/message.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{static 'js/owl-carousel.js'}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelector('.btn-login').addEventListener('click', function() {
                $('#addLoginModal').modal('show');
            });

            document.querySelector('.btn-report').addEventListener('click', function() {
                $('#reportModal').modal('show');
            });
    
        });

        document.addEventListener("DOMContentLoaded", function() {
            $('#reportForm').on('submit', function(event) {
                event.preventDefault();
                const fromDate = document.getElementById('fromDate').value;
                const toDate = document.getElementById('toDate').value;

                $.ajax({
                    type: 'POST',
                    url: '{% url "report-registration" %}',
                    data: {
                        fromDate: fromDate,
                        toDate: toDate,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        $('#reportTitle').text('TỪ NGÀY ' + response.from_date + ' ĐẾN NGÀY ' + response.to_date);

                        var reportData = '';
                        response.report_data.forEach(function(record) {
                            reportData += '<tr>' +
                                '<td>' + record.malop + '</td>' +
                                '<td>' + record.tenlop + '</td>' +
                                '<td>' + record.mamh + '</td>' +
                                '<td>' + record.tenmh + '</td>' +
                                '<td>' + record.ten + '</td>' +
                                '<td>' + record.socauthi + '</td>' +
                                '<td>' + record.ngaythi + '</td>' +
                                '<td>' + record.lan + '</td>' +
                                '<td>' + record.dathi + '</td>' +
                                '<td>' + record.ghichu + '</td>' +
                                '</tr>';
                        });
                        $('#reportData').html(reportData);
                        $('#reportContainer').show();
                        $('#reportModal').modal('hide');
                    },
                    error: function(xhr, status, error) {
                        alert('Đã có lỗi xảy ra: ' + error);
                    }
                });
            });
        });
    
    </script>

</body>

</html>
