<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Testify - Cơ sở</title>
    <!-- Icon -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Datatable -->
    <link href="{% static 'vendor/datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/message.css' %}">
    <link rel="stylesheet" href="{% static 'styles/mainpp.css' %}">
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{message.tags}}">{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% include 'preloader.html' %}

    <!-- ***** Sidebar Start ***** -->
    <div id="sidebar" class="sidebar">
        <div class="sidebar-logo" onclick="toggleSidebar()">
            <img class="logo" style="width:40px" src="{% static 'images/graduation.png' %}" alt="logo">
            <div class="logo-text" style="margin-left: 10px; color: #f5ffda; font-family: 'Approach Mono TRIAL Bold', sans-serif; font-size:30px">  testify  </div>
        </div>
        <a class="link" href="#"><i class='bx bxs-user-rectangle'></i><span class="menu-a btn-login-coso">Tạo Tài khoản (Cơ sở)</span></a>
        <a class="link" href="#"><i class='bx bxs-user-badge'></i><span class="menu-a btn-login-giangvien">Tạo Tài khoản (Giảng viên)</span></a>
    </div>
    <!-- ***** Sidebar End ***** -->

    <div id="main">

        <!-- ***** Header Area Start ***** -->
        <header>
            <div class="header-container">
                <div class="header-left">
                    <nav>
                        <ul class="nav-links">
                            <li><a href="{% url 'coso' %}" class="{% if request.resolver_match.view_name == 'coso' %}active{% endif %}">Cơ sở</a></li>
                            <li><a href="{% url 'khoa' %}" class="{% if request.resolver_match.view_name == 'khoa' %}active{% endif %}">Khoa</a></li>
                            <li><a href="{% url 'lop' %}" class="{% if request.resolver_match.view_name == 'lop' %}active{% endif %}">Lớp</a></li>
                            <li><a href="{% url 'giangvien' %}" class="{% if request.resolver_match.view_name == 'giangvien' %}active{% endif %}">Giảng viên</a></li>
                            <li><a href="{% url 'sinhvien' %}" class="{% if request.resolver_match.view_name == 'sinhvien' %}active{% endif %}">Sinh viên</a></li>
                            <li><a href="{% url 'monhoc' %}" class="{% if request.resolver_match.view_name == 'monhoc' %}active{% endif %}">Môn học</a></li>
                            <li><a href="{% url 'bode' %}" class="{% if request.resolver_match.view_name == 'bode' %}active{% endif %}">Bộ đề</a></li>
                            <li><a href="{% url 'dangkythi' %}" class="{% if request.resolver_match.view_name == 'dangkythi' %}active{% endif %}">Đăng ký thi</a></li>
                    </nav>
                </div>
                <div class="header-right">
                    <div class="user-menu">
                        <img src="{% static 'images/teacher-user.png' %}" alt="User Icon" class="user-icon" onclick="toggleUserMenu()">
                        <div id="userMenu" class="user-menu-dropdown">
                            <a href="#">
                                Mã: {{thongtin.0}} | 
                                Tên: {{thongtin.1}} | 
                                Nhóm: {{thongtin.2}}
                            </a>
                            <a href="{% url 'login-register' %}">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

        {% block content %}
        {% endblock content %}

        {% include 'footer.html' %}
    </div>

    <!-- Modal for Coso -->
    <div class="modal fade" id="addLoginCosoModal" tabindex="-1" role="dialog" aria-labelledby="addLoginCosoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLoginCosoModalLabel">Tạo Login (Cơ sở)</h5>
                </div>
                <div class="modal-body">
                    <form id="addLoginCosoForm" method="POST" action="{% url 'register-coso' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="magv">Giảng viên:</label>
                            <select class="form-control" id="magv" name="magv" required>
                                {% for key, val in request.session.gv_list.items %}
                                <option value="{{key}}-{{val.tengv}}">{{key}} | {{val.tengv}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="coso_username">Username</label>
                            <input type="text" class="form-control" id="coso_username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="coso_password">Password</label>
                            <input type="password" class="form-control" id="coso_password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Tạo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Giangvien -->
    <div class="modal fade" id="addLoginGiangvienModal" tabindex="-1" role="dialog" aria-labelledby="addLoginGiangvienModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addLoginGiangvienModalLabel">Tạo Login (Giảng viên)</h5>
                </div>
                <div class="modal-body">
                    <form id="addLoginGiangvienForm" method="POST" action="{% url 'register-giangvien' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="magv">Giảng viên:</label>
                            <select class="form-control" id="magv" name="magv" required>
                                {% for key, val in request.session.gv_list.items %}
                                <option value="{{key}}-{{val.tengv}}">{{key}} | {{val.tengv}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="giangvien_username">Username</label>
                            <input type="text" class="form-control" id="giangvien_username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="giangvien_password">Password</label>
                            <input type="password" class="form-control" id="giangvien_password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Tạo</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'scripts/toggle.js' %}"></script>
    <script src="{% static 'scripts/message.js' %}"></script>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
    <script src="{static 'js/owl-carousel.js'}"></script>
    <script src="{% static 'js/counter.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    <!-- Datatable -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/plugins-init/datatables.init.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelector('.btn-login-coso').addEventListener('click', function() {
                $('#addLoginCosoModal').modal('show');
            });
            document.querySelector('.btn-login-giangvien').addEventListener('click', function() {
                $('#addLoginGiangvienModal').modal('show');
            });
        });
    </script>

</body>

</html>
