{% extends request.session.base_template %}

{% load static %}

{% block content %}


<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
                {% if request.session.base_template == "main_CS.html" %}
                <div class="feature">
                    <a href="#" class="btn btn-primary btn-add" data-toggle="modal" data-target="#addModal">
                        <img src="{% static 'images/add.png' %}"/> Thêm
                    </a>
                    <a href="#" class="btn btn-primary">
                        <img src="{% static 'images/undo.png' %}"/> Undo
                    </a>
                </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="main-table" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Giáo viên</th>
                                        <th>Môn học</th>
                                        <th>Lớp</th>
                                        <th class="text-center">Trình độ</th>
                                        <th>Ngày thi</th>
                                        <th class="text-center">Lần</th>
                                        <th class="text-center">Số câu thi</th>
                                        <th class="text-center">Thời gian (phút)</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for dk in dangky %}
                                    <tr>
                                        <td>{{dk.gv.ho}} {{dk.gv.ten}}</td>
                                        <td>{{dk.monhoc.tenmh}}</td>
                                        <td>{{dk.lop.tenlop}}</td>
                                        <td class="text-center">{{dk.trinhdo}}</td>
                                        <td>{{dk.ngaythi}}</td>
                                        <td class="text-center">{{dk.lan}}</td>
                                        <td class="text-center">{{dk.socauthi}}</td>
                                        <td class="text-center">{{dk.thoigian}}</td>
                                        <td>
                                            {% if request.session.base_template == "main_CS.html" %}
                                            <a href="#" class="btn btn-danger btn-delete"
                                                data-toggle="modal" data-target="#deleteModal"
                                                data-malop="{{ dk.lop.malop }}" data-mamh="{{ dk.monhoc.mamon }}" data-lan="{{ dk.lan }}">
                                                <img src="{% static 'images/bin.png' %}"/> Xóa
                                            </a>
                                            {% elif request.session.base_template == "main_SV.html" or request.session.base_template == "main_GV.html" %}
                                            <button type="button" class="btn btn-success btn-thi" 
                                                data-toggle="modal" data-target="#thiModal" 
                                                data-lan="{{ dk.lan }}" data-monhoc="{{ dk.monhoc.mamon }}"
                                                data-socauthi="{{ dk.socauthi }}" data-trinhdo="{{ dk.trinhdo }}">Thi</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Giáo viên</th>
                                        <th>Môn học</th>
                                        <th>Lớp</th>
                                        <th class="text-center">Trình độ</th>
                                        <th>Ngày thi</th>
                                        <th class="text-center">Lần</th>
                                        <th class="text-center">Số câu thi</th>
                                        <th class="text-center">Thời gian (phút)</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm Đăng Ký Mới</h5>
            </div>
            <div class="modal-body">
                <form id="addForm" method="post" action="{% url 'add-dangkythi' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="addGiangvien">Giảng viên:</label>
                        <select class="form-control" id="addGiangvien" name="addGiangvien" required>
                            {% for key, val in gv.items %}
                            <option value="{{key}}">{{val.ho}} {{val.ten}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addMonhoc">Môn học:</label>
                        <select class="form-control" id="addMonhoc" name="addMonhoc" required>
                            {% for key, val in mon.items %}
                            <option value="{{key}}">{{val.tenmh}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addLop">Lớp:</label>
                        <select class="form-control" id="addLop" name="addLop" required>
                            {% for key, val in lop.items %}
                            <option value="{{key}}">{{val.tenlop}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addTrinhdo">Trình độ:</label>
                        <select class="form-control" id="addTrinhdo" name="addTrinhdo" required>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="addNgaythi">Ngày thi:</label>
                        <input type="datetime-local" class="form-control" id="addNgaythi" name="addNgaythi" required>
                    </div>
                    <div class="form-group">
                        <label for="addSocauthi">Số câu thi:</label>
                        <input type="number" value="10" min="10" max="500" class="form-control" id="addSocauthi" name="addSocauthi" required>
                    </div>
                    <div class="form-group">
                        <label for="addThoigian">Thời gian (p):</label>
                        <input type="number" value="1" min="1" max="60" class="form-control" id="addThoigian" name="addThoigian" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa Đăng Ký</h5>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa đăng ký này không?</p>
                <form id="deleteForm" method="post" action="{% url 'delete-dangkythi' %}">
                    {% csrf_token %}
                    <input type="hidden" name="deleteLop" id="deleteLop">
                    <input type="hidden" name="deleteMon" id="deleteMon">
                    <input type="hidden" name="deleteLan" id="deleteLan">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Thi -->
<div class="modal fade" id="thiModal" tabindex="-1" role="dialog" aria-labelledby="thiModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header sticky-top">
                <div class="container-fluid">
                    <div class="row">
                        <h5 class="modal-title col-md-6" id="thiModalLabel">Trả lời câu hỏi</h5>
                        <div class="col-md-6 text-right">
                            <label class="text-right" for="timer">Thời gian còn lại: <span id="timer"></span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                <form id="thiForm" method="post" action="submit">
                    {% for question in questions %}
                    <div class="form-group">
                        <label>Câu {{ question.id }}: </label>
                        <lable>{{ question.question_text }}</label>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Answer-{{ question.id }}" id="optionA" value="A" {% if question.answer == 'A' %} checked="checked" {% endif %}>
                            <label class="form-check-label" for="optionA" id="labelA">{{ question.A }}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Answer-{{ question.id }}" id="optionB" value="B" {% if question.answer == 'B' %} checked="checked" {% endif %}>
                            <label class="form-check-label" for="optionB" id="labelB">{{ question.B }}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Answer-{{ question.id }}" id="optionC" value="C" {% if question.answer == 'C' %} checked="checked" {% endif %}>
                            <label class="form-check-label" for="optionC" id="labelC">{{ question.C }}</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Answer-{{ question.id }}" id="optionD" value="D" {% if question.answer == 'D' %} checked="checked" {% endif %}>
                            <label class="form-check-label" for="optionD" id="labelD">{{ question.D }}</label>
                        </div>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Nộp bài</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var table = $('#main-table').DataTable();

        table.on('draw', function() {
            attachEventListeners();
        });

        function attachEventListeners() {
            document.querySelector('.btn-add').addEventListener('click', function() {
                $('#addModal').modal('show');
            });

            document.querySelectorAll('.btn-delete').forEach(function(button) {
                button.addEventListener('click', function() {
                    var modal = document.getElementById('deleteModal');
                    var malop = button.getAttribute('data-malop');
                    var mamh = button.getAttribute('data-mamh');
                    var lan = button.getAttribute('data-lan');

                    modal.querySelector('#deleteLop').value = malop;
                    modal.querySelector('#deleteMon').value = mamh;
                    modal.querySelector('#deleteLan').value = lan;

                    $(modal).modal('show');
                });
            });
        }

        attachEventListeners();
    });

    document.addEventListener("DOMContentLoaded", function() {
        var thiButtons = document.querySelectorAll('.btn-thi');

        thiButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var modal = document.getElementById('thiModal');
                var monhoc = button.getAttribute('data-monhoc');
                var lan = button.getAttribute('data-lan');
                var trinhdo = button.getAttribute('data-trinhdo');
                var socauthi = button.getAttribute('data-socauthi');
                var masv = '{{ thongtin.0 }}'
                $.ajax({
                    url: '{% url "list-question" %}',  // Adjust the URL
                    type: 'POST',  // Adjust the method if needed
                    data: {
                        MaSV: masv,
                        mamh: monhoc,
                        lan: lan,
                        trinhdo: trinhdo,
                        socau: socauthi,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        console.log(response);
                        console.log("Get data successfully!");

                        // Cập nhật thời gian thi
                        document.getElementById('timer').innerText = response.time;

                        // Lấy container của form câu hỏi
                        const form = document.getElementById('thiForm');
                        form.innerHTML = ''; // Clear previous content

                        // Duyệt qua các câu hỏi và tạo phần tử HTML cho mỗi câu hỏi
                        response.questions.forEach((question, index) => {
                            const questionContainer = document.createElement('div');
                            questionContainer.classList.add('form-group');

                            questionContainer.innerHTML = `
                                <label>Câu ${index + 1}: </label>
                                <label>${question.noidung}</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Answer-${question.stt}" id="optionA-${question.stt}" value="A" ${question.traloi === 'A' ? 'checked' : ''}>
                                    <label class="form-check-label" for="optionA-${question.stt}">${question.a}</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Answer-${question.stt}" id="optionB-${question.stt}" value="B" ${question.traloi === 'B' ? 'checked' : ''}>
                                    <label class="form-check-label" for="optionB-${question.stt}">${question.b}</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Answer-${question.stt}" id="optionC-${question.stt}" value="C" ${question.traloi === 'C' ? 'checked' : ''}>
                                    <label class="form-check-label" for="optionC-${question.stt}">${question.c}</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="Answer-${question.stt}" id="optionD-${question.stt}" value="D" ${question.traloi === 'D' ? 'checked' : ''}>
                                    <label class="form-check-label" for="optionD-${question.stt}">${question.d}</label>
                                </div>
                            `;

                            form.appendChild(questionContainer);
                        });

                        // Hiển thị modal
                        $('#thiModal').modal('show');
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });

                $(modal).modal('show');
            });
        });
        
    });

    // document.addEventListener("DOMContentLoaded", function() {
    //     var thiButtons = document.querySelectorAll('.btn-thi');
    //     var timerInterval;

    //     thiButtons.forEach(function(button) {
    //         button.addEventListener('click', function() {
    //             var modal = document.getElementById('thiModal');
    //             var timeLimit = new Date(); 

    //             function startTimer(duration, display) {
    //                 var timer = duration, minutes, seconds;
    //                 timerInterval = setInterval(function () {
    //                     $.ajax({
    //                         url: 'update-time',  // Adjust the URL
    //                         type: 'POST',  // Adjust the method if needed
    //                         data: {
    //                             maBT: '', // Mã bài thi
    //                             time: timer,
    //                         },
    //                         success: function(response) {
    //                             console.log(response);
    //                             console.log("Updated count down");
    //                         },
    //                         error: function(xhr, status, error) {
    //                             console.error('Error:', error);
    //                         }
    //                     });

    //                     minutes = Math.floor(countDownDate / 60);
    //                     seconds = Math.floor(countDownDate % 60);
    //                     // Time calculations for days, hours, minutes and seconds
    //                     minutes = minutes < 10 ? "0" + minutes : minutes;
    //                     seconds = seconds < 10 ? "0" + seconds : seconds;

    //                     display.textContent = minutes + ":" + seconds;

    //                     if (--timer < 0) {
    //                         clearInterval(timerInterval);
    //                         // Tự động nộp bài khi hết giờ
    //                         aler("Đã hết thời gian làm bài");
    //                         document.getElementById('thiForm').submit();
    //                     }
    //                 }, 1000);
    //             }

    //             // Khởi tạo và bắt đầu đếm ngược khi modal được hiển thị
    //             $(modal).on('shown.bs.modal', function () {
    //                 var display = modal.querySelector('#timer');
    //                 startTimer(timeLimit, display);
    //             });

    //             // Hủy đếm ngược khi modal bị ẩn
    //             $(modal).on('hidden.bs.modal', function () {
    //                 clearInterval(timerInterval);
    //             });

    //             $(modal).modal('show');
    //         });
    //     });
    // });

</script>

{% endblock content %}
