{% extends request.session.base_template %}

{% load static %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
                {% if request.session.base_template == "main_CS.html" %}
                <div class="feature">
                    <a href="#" class="btn btn-primary btn-add" data-toggle="modal" data-target="#addModal">
                        <img src="{% static 'images/add.png' %}"/>
                        Thêm</a>
                    <a href="{% url 'undo-gv' %}" class="btn btn-primary">
                        <img src="{% static 'images/undo.png' %}"/>
                        Undo</a>
                </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="main-table" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Mã giảng viên</th>
                                        <th>Họ</th>
                                        <th>Tên</th>
                                        <th>Địa chỉ</th>
                                        <th>Khoa</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for gv in giangvien %}
                                    <tr>
                                        <td>{{ gv.magv }}</td>
                                        <td>{{ gv.ho }}</td>
                                        <td>{{ gv.ten }}</td>
                                        <td>{{ gv.diachi }}</td>
                                        <td>{{ gv.khoa.tenkh }}</td>
                                        <td>
                                            {% if request.session.base_template == "main_CS.html" %}
                                            <button type="button" class="btn btn-warning btn-edit"
                                                data-toggle="modal" data-target="#editModal"
                                                data-magv="{{ gv.magv }}" data-ho="{{ gv.ho }}"
                                                data-ten="{{ gv.ten }}" data-diachi="{{ gv.diachi }}"
                                                data-khoa="{{ gv.khoa.tenkh }}">
                                                <img src="{% static 'images/save.png' %}"/> Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal"
                                                data-magv="{{ gv.magv }}" data-ho="{{ gv.ho }}"
                                                data-ten="{{ gv.ten }}" data-diachi="{{ gv.diachi }}"
                                                data-khoa="{{ gv.khoa.makh }}">
                                                <img src="{% static 'images/bin.png' %}"/> Xóa
                                            </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Mã giảng viên</th>
                                        <th>Họ</th>
                                        <th>Tên</th>
                                        <th>Địa chỉ</th>
                                        <th>
                                            <select>
                                                <option value="">Khoa</option>
                                                {% for key, val in khoa_list.items %}
                                                <option value="{{val.tenkh}}">{{val.tenkh}}</option>
                                                {% endfor %}
                                            </select>
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm Giảng viên Mới</h5>
            </div>
            <div class="modal-body">
                <form id="addForm" method="post" action="{% url 'add-gv' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="addMagv">Mã giảng viên:</label>
                        <input type="text" class="form-control" id="addMagv" name="addMagv" required>
                    </div>
                    <div class="form-group">
                        <label for="addHo">Họ:</label>
                        <input type="text" class="form-control" id="addHo" name="addHo" required>
                    </div>
                    <div class="form-group">
                        <label for="addTen">Tên:</label>
                        <input type="text" class="form-control" id="addTen" name="addTen" required>
                    </div>
                    <div class="form-group">
                        <label for="addDiachi">Địa chỉ:</label>
                        <input type="text" class="form-control" id="addDiachi" name="addDiachi" required>
                    </div>
                    <div class="form-group">
                        <label for="addKhoa">Khoa:</label>
                        <select class="form-control" id="addKhoa" name="addKhoa" required>
                            {% for key, value in khoa_list.items %}
                                <option value="{{ key }}">{{ value.tenkh }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin giảng viên</h5>
            </div>
            <div class="modal-body">
                <form id="editForm" method="post" action="{% url 'update-gv' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="editMagv">Mã giảng viên:</label>
                        <input type="text" class="form-control" name="editMagv" id="editMagv" readonly>
                        <input type="hidden" id="oldMagv" name="oldMagv">
                    </div>
                    <div class="form-group">
                        <label for="editHo">Họ:</label>
                        <input type="text" class="form-control" id="editHo" name="editHo">
                        <input type="hidden" id="oldHo" name="oldHo">
                    </div>
                    <div class="form-group">
                        <label for="editTen">Tên:</label>
                        <input type="text" class="form-control" id="editTen" name="editTen">
                        <input type="hidden" id="oldTen" name="oldTen">
                    </div>
                    <div class="form-group">
                        <label for="editDiachi">Địa chỉ:</label>
                        <input type="text" class="form-control" id="editDiachi" name="editDiachi">
                        <input type="hidden" id="oldDiachi" name="oldDiachi">
                    </div>
                    <div class="form-group">
                        <label for="editKhoa">Khoa:</label>
                        <input type="text" class="form-control" id="editKhoa" name="editKhoa" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa Giảng viên</h5>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa giảng viên này không?</p>
                <form id="deleteForm" method="post" action="{% url 'delete-gv' %}">
                    {% csrf_token %}
                    <input type="hidden" id="deleteMagv" name="deleteMagv">
                    <input type="hidden" id="deleteHo" name="deleteHo">
                    <input type="hidden" id="deleteTen" name="deleteTen">
                    <input type="hidden" id="deleteDiachi" name="deleteDiachi">
                    <input type="hidden" id="deleteMakh" name="deleteMakh">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var table = $('#main-table').DataTable({
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    $('select', column.footer()).on('keyup change clear', function () {
                        if (column.search() !== this.value) {
                            column.search(this.value).draw();
                        }
                    });
                });
            }
        });

        table.on('draw', function() {
            attachEventListeners();
        });

        function attachEventListeners() {
            document.querySelectorAll('.btn-add').forEach(function(button) {
                button.addEventListener('click', function() {
                    $('#addModal').modal('show');
                });
            });

            document.querySelectorAll('.btn-edit').forEach(function(button) {
            button.addEventListener('click', function() {
                var modal = document.getElementById('editModal');
                var magv = button.getAttribute('data-magv');
                var ho = button.getAttribute('data-ho');
                var ten = button.getAttribute('data-ten');
                var diachi = button.getAttribute('data-diachi');
                var khoa = button.getAttribute('data-khoa');

                modal.querySelector('#editMagv').value = magv;
                modal.querySelector('#editHo').value = ho;
                modal.querySelector('#editTen').value = ten;
                modal.querySelector('#editDiachi').value = diachi;
                modal.querySelector('#editKhoa').value = khoa;

                modal.querySelector('#oldMagv').value = magv;
                modal.querySelector('#oldHo').value = ho;
                modal.querySelector('#oldTen').value = ten;
                modal.querySelector('#oldDiachi').value = diachi;

                $(modal).modal('show');
            });
        });

            document.querySelectorAll('.btn-delete').forEach(function(button) {
                button.addEventListener('click', function() {
                    var modal = document.getElementById('deleteModal');
                    var magv = button.getAttribute('data-magv');
                    var ho = button.getAttribute('data-ho');
                    var ten = button.getAttribute('data-ten');
                    var diachi = button.getAttribute('data-diachi');
                    var khoa = button.getAttribute('data-khoa');
                    
                    modal.querySelector('#deleteMagv').value = magv;
                    modal.querySelector('#deleteHo').value = ho;
                    modal.querySelector('#deleteTen').value = ten;
                    modal.querySelector('#deleteDiachi').value = diachi;
                    modal.querySelector('#deleteMakh').value = khoa;

                    $(modal).modal('show');
                });
            });
        }

        attachEventListeners();
    });
</script>


{% endblock content %}