{% extends request.session.base_template %}

{% load static %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
                {% if request.session.base_template == "main_CS.html" %}
                <div class="feature">
                    <a href="#" class="btn btn-add btn-primary" data-toggle="modal" data-target="#addModal">
                        <img src="{% static 'images/add.png' %}"/> Thêm
                    </a>
                    <a href="#" class="btn btn-primary">
                        <img src="{% static 'images/undo.png' %}"/> Undo
                    </a>
                </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="main-table" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Mã khoa</th>
                                        <th>Tên khoa</th>
                                        <th>Cơ sở</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for k in khoa %}
                                    <tr>
                                        <td>{{ k.makh }}</td>
                                        <td>{{ k.tenkh }}</td>
                                        <td>{{ k.coso.tencs }}</td>
                                        <td>
                                            {% if request.session.base_template == "main_CS.html" %}
                                            <button type="button" class="btn btn-warning btn-edit" data-toggle="modal" data-target="#editModal" data-makh="{{ k.makh }}" data-tenkh="{{ k.tenkh }}">
                                                <img src="{% static 'images/save.png' %}"/> Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger btn-delete" data-toggle="modal" data-target="#deleteModal" data-makh="{{ k.makh }}">
                                                <img src="{% static 'images/bin.png' %}"/> Xóa
                                            </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Mã khoa</th>
                                        <th>Tên khoa</th>
                                        <th>Cơ sở</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin khoa</h5>
            </div>
            <div class="modal-body">
                <form id="editForm" action="{% url 'update-khoa' %}" method="POST">
                    <div class="form-group">
                        <label for="editMakh">Mã khoa:</label>
                        <input type="text" class="form-control" id="editMakh" name="editMakh" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editTenkh">Tên khoa:</label>
                        <input type="text" class="form-control" id="editTenkh" name="editTenkh">
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm Khoa Mới</h5>
            </div>
            <div class="modal-body">
                <form id="addForm" action="{% url 'add-khoa' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="addMakh">Mã khoa:</label>
                        <input type="text" class="form-control" id="addMakh" name="addMakh" required>
                    </div>
                    <div class="form-group">
                        <label for="addTenkh">Tên khoa:</label>
                        <input type="text" class="form-control" id="addTenkh" name="addTenkh" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xác nhận xóa</h5>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xóa khoa này không?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" action="{% url 'delete-khoa' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" id="deleteMakh" name="deleteMakh">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        var table = $('#main-table').DataTable();

        table.on('draw', function() {
            attachEventListeners();
        });

        function attachEventListeners() {
            document.querySelectorAll('.btn-add').forEach(function(button) {
                button.addEventListener('click', function() {
                    $('#addModal').modal('show');
                });
            });

            document.querySelectorAll('.btn-edit').forEach(function(button) {
            button.addEventListener('click', function() {
                var modal = document.getElementById('editModal');
                var makh = button.getAttribute('data-makh');
                var tenkh = button.getAttribute('data-tenkh');

                modal.querySelector('#editMakh').value = makh;
                modal.querySelector('#editTenkh').value = tenkh;

                $(modal).modal('show');
            });
        });

            var addButton = document.querySelectorAll('.btn-add');

            addButton.forEach(function(button) {
                button.addEventListener('click', function() {
                    var modal = document.getElementById('addModal');

                    $(modal).modal('show');
                });
            });

            var deleteButtons = document.querySelectorAll('.btn-delete');

            deleteButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var modal = document.getElementById('deleteModal');
                    var makh = button.getAttribute('data-makh');
                    modal.querySelector('#deleteMakh').value = makh;

                    $(modal).modal('show');
                });
            });
        }

        attachEventListeners();
    });
</script>

{% endblock content %}
