{% extends request.session.base_template %}

{% load static %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
                {% if request.session.base_template == "main_CS.html" %}
                <div class="feature">
                    <a href="#" class="btn btn-primary btn-add" data-toggle="modal" data-target="#addModal">
                        <img src="{% static 'images/add.png' %}"/> Thêm</a>
                    <a href="#" class="btn btn-primary">
                        <img src="{% static 'images/undo.png' %}"/> Undo</a>
                </div>
                {% endif %}

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="main-table" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Mã môn học</th>
                                        <th>Tên môn học</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mh in monhoc %}
                                    <tr>
                                        <td>{{ mh.mamh }}</td>
                                        <td>{{ mh.tenmh }}</td>
                                        <td>
                                            {% if request.session.base_template == "main_CS.html" %}
                                            <button type="button" class="btn btn-warning btn-edit"
                                                data-toggle="modal" data-target="#editModal"
                                                data-mamh="{{ mh.mamh }}" data-tenmh="{{ mh.tenmh }}">
                                                <img src="{% static 'images/save.png' %}"/> Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger btn-delete"
                                                data-toggle="modal" data-target="#deleteModal"
                                                data-mamh="{{ mh.mamh }}">
                                                <img src="{% static 'images/bin.png' %}"/> Xóa
                                            </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Mã môn học</th>
                                        <th>Tên môn học</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm Môn Học Mới</h5>
            </div>
            <div class="modal-body">
                <form id="addForm" method="post" action="{% url 'add-monhoc' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="addMamh">Mã môn học:</label>
                        <input type="text" class="form-control" id="addMamh" name="addMamh" required>
                    </div>
                    <div class="form-group">
                        <label for="addTenmh">Tên môn học:</label>
                        <input type="text" class="form-control" id="addTenmh" name="addTenmh" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin môn học</h5>
            </div>
            <div class="modal-body">
                <form id="editForm" method="post" action="{% url 'update-monhoc' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="editMamh">Mã môn học:</label>
                        <input type="text" class="form-control" name="editMamh" id="editMamh" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editTenmh">Tên môn học:</label>
                        <input type="text" class="form-control" id="editTenmh" name="editTenmh">
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa Môn Học</h5>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa môn học này không?</p>
                <form id="deleteForm" method="post" action="{% url 'delete-monhoc' %}">
                    {% csrf_token %}
                    <input type="hidden" id="deleteMamh" name="deleteMamh">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var table = $('#main-table').DataTable();

        table.on('draw', function() {
            attachEventListeners();
        });

        function attachEventListeners() {
            document.querySelector('.btn-add').addEventListener('click', function() {
                $('#addModal').modal('show');
            });

            document.querySelectorAll('.btn-edit').forEach(function(button) {
                button.addEventListener('click', function() {
                    var modal = document.getElementById('editModal');
                    var mamh = button.getAttribute('data-mamh');
                    var tenmh = button.getAttribute('data-tenmh');

                    modal.querySelector('#editMamh').value = mamh;
                    modal.querySelector('#editTenmh').value = tenmh;

                    $(modal).modal('show');
                });
            });

            document.querySelectorAll('.btn-delete').forEach(function(button) {
                button.addEventListener('click', function() {
                    var modal = document.getElementById('deleteModal');
                    var mamh = button.getAttribute('data-mamh');
                    
                    modal.querySelector('#deleteMamh').value = mamh;

                    $(modal).modal('show');
                });
            });
        }

        attachEventListeners();

    });
</script>

{% endblock content %}
