{% extends request.session.base_template %}

{% load static %}

{% block content %}

<div class="content-body">
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <div class="col-12">
                <div class="feature">
                    <a href="#" class="btn btn-primary btn-add" data-toggle="modal" data-target="#addModal">
                        <img src="{% static 'images/add.png' %}"/> Thêm</a>
                    <a href="#" class="btn btn-primary">
                        <img src="{% static 'images/undo.png' %}"/> Undo</a>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="main-table" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>Mã sinh viên</th>
                                        <th>Họ</th>
                                        <th>Tên</th>
                                        <th>Ngày sinh</th>
                                        <th>Địa chỉ</th>
                                        <th>Lớp</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sv in sinhvien %}
                                    <tr>
                                        <td>{{ sv.masv }}</td>
                                        <td>{{ sv.ho }}</td>
                                        <td>{{ sv.ten }}</td>
                                        <td>{{ sv.ngaysinh }}</td>
                                        <td>{{ sv.diachi }}</td>
                                        <td>{{ sv.lop.tenlop }}</td>
                                        <td>
                                            {% if request.session.base_template == "main_CS.html" %}
                                            <button type="button" class="btn btn-warning btn-edit"
                                                data-toggle="modal" data-target="#editModal"
                                                data-masv="{{ sv.masv }}" data-ho="{{ sv.ho }}"
                                                data-ten="{{ sv.ten }}" data-ngaysinh="{{ sv.ngaysinh }}"
                                                data-diachi="{{ sv.diachi }}" data-lop="{{ sv.lop.tenlop }}">
                                                <img src="{% static 'images/save.png' %}"/> Sửa
                                            </button>
                                            <button type="button" class="btn btn-danger btn-delete"
                                                data-toggle="modal" data-target="#deleteModal"
                                                data-masv="{{ sv.masv }}">
                                                <img src="{% static 'images/bin.png' %}"/> Xóa
                                            </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Mã sinh viên</th>
                                        <th>Họ</th>
                                        <th>Tên</th>
                                        <th>Ngày sinh</th>
                                        <th>Địa chỉ</th>
                                        <th>Lớp</th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm Sinh Viên Mới</h5>
            </div>
            <div class="modal-body">
                <form id="addForm" method="post" action="{% url 'add-sinhvien' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="addMasv">Mã sinh viên:</label>
                        <input type="text" class="form-control" id="addMasv" name="addMasv" required>
                    </div>
                    <div class="form-group">
                        <label for="addHo">Họ:</label>
                        <input type="text" class="form-control" id="addHo" name="addHo" required>
                    </div>
                    <div class="form-group">
                        <label for="addTen">Tên:</label>
                        <input type="text" class="form-control" id="addTen" name="addTen" required>
                    </div>
                    <div class="form-group">
                        <label for="addNgaysinh">Ngày sinh:</label>
                        <input type="date" class="form-control" id="addNgaysinh" name="addNgaysinh" required>
                    </div>
                    <div class="form-group">
                        <label for="addDiachi">Địa chỉ:</label>
                        <input type="text" class="form-control" id="addDiachi" name="addDiachi" required>
                    </div>
                    <div class="form-group">
                        <label for="addLop">Lớp:</label>
                        <select class="form-control" id="addLop" name="addLop" required>
                            {% for key, value in lop_list.items %}
                                <option value="{{ key }}">{{ value.tenlop }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Chỉnh sửa thông tin sinh viên</h5>
            </div>
            <div class="modal-body">
                <form id="editForm" method="post" action="{% url 'update-sinhvien' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="editMasv">Mã sinh viên:</label>
                        <input type="text" class="form-control" name="editMasv" id="editMasv" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editHo">Họ:</label>
                        <input type="text" class="form-control" id="editHo" name="editHo">
                    </div>
                    <div class="form-group">
                        <label for="editTen">Tên:</label>
                        <input type="text" class="form-control" id="editTen" name="editTen">
                    </div>
                    <div class="form-group">
                        <label for="editNgaysinh">Ngày sinh:</label>
                        <input type="date" class="form-control" id="editNgaysinh" name="editNgaysinh">
                    </div>
                    <div class="form-group">
                        <label for="editDiachi">Địa chỉ:</label>
                        <input type="text" class="form-control" id="editDiachi" name="editDiachi">
                    </div>
                    <div class="form-group">
                        <label for="editLop">Lớp:</label>
                        <input type="text" class="form-control" id="editLop" name="editLop" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Xóa Sinh Viên</h5>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa sinh viên này không?</p>
                <form id="deleteForm" method="post" action="{% url 'delete-sinhvien' %}">
                    {% csrf_token %}
                    <input type="hidden" id="deleteMasv" name="deleteMasv">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var table = $('#main-table').DataTable();

        table.on('draw', function() {
            attachEventListeners();
        });

        function attachEventListeners() {
            document.querySelector('.btn-add').addEventListener('click', function() {
                $('#addModal').modal('show');
            });

            document.querySelectorAll('.btn-edit').forEach(function(button) {
                button.addEventListener('click', function() {
                    var modal = document.getElementById('editModal');
                    var masv = button.getAttribute('data-masv');
                    var ho = button.getAttribute('data-ho');
                    var ten = button.getAttribute('data-ten');
                    var ngaysinh = button.getAttribute('data-ngaysinh');
                    var date = new Date(ngaysinh);
                    var ngaysinhFormatted = date.toLocaleDateString('en-CA');
                    var diachi = button.getAttribute('data-diachi');
                    var lop = button.getAttribute('data-lop');

                    modal.querySelector('#editMasv').value = masv;
                    modal.querySelector('#editHo').value = ho;
                    modal.querySelector('#editTen').value = ten;
                    modal.querySelector('#editNgaysinh').value = ngaysinhFormatted;
                    modal.querySelector('#editDiachi').value = diachi;
                    modal.querySelector('#editLop').value = lop;

                    $(modal).modal('show');
                });
            });

            document.querySelectorAll('.btn-delete').forEach(function(button) {
                button.addEventListener('click', function() {
                    var modal = document.getElementById('deleteModal');
                    var masv = button.getAttribute('data-masv');
                    
                    modal.querySelector('#deleteMasv').value = masv;

                    $(modal).modal('show');
                });
            });
        }

        attachEventListeners();
    });
</script>


{% endblock content %}